@{
    Layout = "/Views/Shared/_Layout_anasayfa.cshtml";
}

@model NOVA.Models.Mail

<!DOCTYPE html>

<html lang="tr"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <link href="~/assets/css/border.css" rel="stylesheet" />
    <style>
        .centercontent {
            position: absolute;
            max-width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
        }

        .heart {
            animation: heartbeat 1s infinite alternate;
        }

        @@keyframes heartbeat {
            from {
                opacity: 0.3;
                transform: scale(0.32);
            }

            to {
                opacity: 1;
                transform: scale(0.40);
            }
        }
    </style>
    <style>
   #scroll-container {
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}


/* for Firefox */
@@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

        @@keyframes my-animation {
            from {
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100);
            }

            to {
                -moz-transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-80%);
            }
        }
        @@media screen and (max-width: 600px) {
            .marquee-w {
                top: 30vh;
                position: relative;
                width: 100%;
                height: 140px;
                margin: 0 auto;
                overflow: hidden;
            }
        }
     .marquee {
  height: 50px;
  width:100%;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 450%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 60s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@@keyframes marquee {
  0% { left: 0; }
  100% { left: -225%; }
}

        



    </style>
    <script src="~/Scripts/jquery-3.6.1.min.js"></script>
</head>

<body onload="script();" onclose="close()" style="overflow-x:hidden">
    
            <div class="centercontent" id="content" style="display:unset">
                <div class="heart"><img id="progress" src="~/images/novasaydam.png" style="max-width:15vw" /></div>
            </div>
            @if ((string)Session["Onay"] == "onay")
            {
                <script>
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'bottom-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'info',
                        title: 'Diğer cihazdaki oturumunuz sonlandırıldı!'
                    });
                </script>
                Session["Onay"] = null;
            }
<div id="page">

    @{ if (Session["Alert"] != null)
        {
            if (Session["Alert"].ToString() == "Eski Şifreniz Yanlış")
            {
                <div class="alert alert-danger" role="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    @Session["Alert"].ToString()
                </div>
            }
            else if (Session["Alert"].ToString() == "Girmiş olduğunuz şifreler aynı değil!")
            {
                <div class="alert alert-danger" role="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    @Session["Alert"].ToString()
                </div>
            }
            else if (Session["Alert"].ToString() == "Şifre değişikliği başarılı!")
            {
                <div class="alert alert-success" role="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    @Session["Alert"].ToString()
                </div>
            }
        }
        if (Session["ModulYetkiMesajı"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @Session["ModulYetkiMesajı"].ToString()
            </div>
        }


}
  
    <!-- / Navbar -->
    <!-- Content wrapper -->
<div class="container-xxl flex-grow-1 container-p-y" id="online">
    @{
        if (Request.Cookies["UserId"].Value == "10002" || Request.Cookies["UserId"].Value == "10001" /*|| Request.Cookies["UserId"].Value == "10002" || Request.Cookies["UserId"].Value == "10003" || Request.Cookies["UserId"].Value == "10005" || Request.Cookies["UserId"].Value == "10004" || Request.Cookies["UserId"].Value == "10021" || Request.Cookies["UserId"].Value == "10020"*/)
        {
            <div class="row">
                    <div class="col">
                        <label class="float-start">
                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                            </label><b>USD/TRY (Spot)</b><b><label class="ps-2" id="spot"></label></b>
                        </label>
                    </div>
                <div class="col">
                    <label class="float-end mt-2" id="guncelleme"></label>
                </div>
            </div>
            } }
            <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                    @{
                        if (Request.Cookies["UserId"].Value == "10002" || Request.Cookies["UserId"].Value == "10001" /*|| Request.Cookies["UserId"].Value == "10002" || Request.Cookies["UserId"].Value == "10003" || Request.Cookies["UserId"].Value == "10005" || Request.Cookies["UserId"].Value == "10004" || Request.Cookies["UserId"].Value == "10021" || Request.Cookies["UserId"].Value == "10020"*/)
                        {
                            <div class="marquee">
                                                    <div>
                                                        <span>

                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (5)<label class="ps-2 5"></label>
                                                            </label>
                                                            <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (10)<label class="ps-2 10"></label>
                                                            </label>
                                                            <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (15)<label class="ps-2 15"></label>
                                                            </label>
                                                            <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (20)<label class="ps-2 20"></label>
                                                            </label>
                                                            <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (25)<label class="ps-2 25"></label>
                                                            </label>
                                                            <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (30)<label class="ps-2 30"></label>
                                                            </label>
                                                            <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (35)<label class="ps-2 35"></label>
                                                            </label>
                                                            <img style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">

                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (40)<label class="ps-2 40"></label>
                                                            </label>
                                                            <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (45)<label class="ps-2 45"></label>
                                                            </label>
                                                            <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (50)<label class="ps-2 50"></label>
                                                            </label>
                                                            <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (55)<label class="ps-2 55"></label>
                                                            </label>
                                                            <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                                            <label class="ps-2">
                                                                <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                                    <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                                                </label>USD/TRY (60)<label class="ps-2 60"></label>
                                                            </label>

                                                            <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                                        </span>
                                                         <span>
                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (5)<label class="ps-2 5"></label>
                                        </label>
                                        <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (10)<label class="ps-2 10"></label>
                                        </label>
                                        <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (15)<label class="ps-2 15"></label>
                                        </label>
                                        <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (20)<label class="ps-2 20"></label>
                                        </label>
                                        <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (25)<label class="ps-2 25"></label>
                                        </label>
                                        <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (30)<label class="ps-2 30"></label>
                                        </label>
                                        <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (35)<label class="ps-2 35"></label>
                                        </label>
                                        <img style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">

                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (40)<label class="ps-2 40"></label>
                                        </label>
                                        <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (45)<label class="ps-2 45"></label>
                                        </label>
                                        <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (50)<label class="ps-2 50"></label>
                                        </label>
                                        <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (55)<label class="ps-2 55"></label>
                                        </label>
                                        <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">
                                        <label class="ps-2">
                                            <label class="tv-circle-logo-pair tv-circle-logo-pair--xsmall tv-ticker-item-tape__icon">
                                                <img class="mb-2" style="margin-right:-3px" src="~/images/dolartlpng.png" alt="">
                                            </label>USD/TRY (60)<label class="ps-2 60"></label>
                                        </label>

                                        <img class="mb-1" style="margin-right: -3px; margin-left: 25px; height: 15px " src="~/images/efecelogo.png" alt="">

                                    </span>
                                                    </div>
                            </div>
                           
                        }
                    }



                    @*<div class="col">
            <iframe src="~/assets/happy-new-year2022/dist/index.html" height="350" width="100%"></iframe>
        </div>*@

                    <div class="card">
                        <label id="test"></label>
                        <div class="d-flex align-items-end row">
                            <div class="col-sm-7">
                                <div class="card-body text-sm-left">

                                    @{ string merhaba = "";
                                        if (Session["Name"] == null)
                                        {
                                            merhaba = Request.Cookies["Name"].Value;
                                        }
                                        else
                                        {
                                            merhaba = Session["Name"].ToString();
                                        }
                                    }
                                    <h4 class="card-title text-primary">Hoşgeldin @merhaba @ViewBag.IDJS! 🎉</h4>

                                    <p class="mb-4">EFECE Ailesi olarak iyi çalışmalar dileriz.</p>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center text-sm-left">

                                <div class="card-body pb-0 px-0 px-md-4">
                                    <img src="/assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        const monthNames = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran",
                            "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"
                        ];
                    </script>
                    @{ var onlineusers = ViewBag.OnlineUsers; int a = 0;}
                    <div class="card col" style="display:unset">
                        <div class="table-responsive text-nowrap mt-3">
                            <table class="table table-hover results sorttable centered" id="sortTable">
                                <thead class="centered">
                                    <tr>

                                        <th>
                                            <script>document.write(monthNames[new Date().getMonth()]);</script> Ayı Kullanım Sıralaması
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr>
                                        <td>
                                            <ul id="ranks" class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                            </ul>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                        <div class="table-responsive text-nowrap mt-3">
                            <table class="table table-hover results sorttable centered" id="sortTable">
                                <thead class="centered">
                                    <tr>
                                        <th>Çevrimiçi Kullanıcılar(<span id="cevrimicisayi"></span>)</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr>
                                        <td>
                                            <ul id="onlines" class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                            </ul>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                        <div class="table-responsive text-nowrap">
                            <table class="table table-hover results sorttable centered" id="sortTable">
                                <thead class="centered">
                                    <tr>
                                        <th>Çevrimdışı Kullanıcılar(<span id="cevrimdisisayi"></span>)</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    @{ var offlineusers = ViewBag.OfflineUsers; int b = 0;}
                                    <tr>
                                        <td>
                                            <ul id="offlines" class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                            </ul>
                                        </td>



                                    </tr>





                                </tbody>
                            </table>

                        </div>

                    </div>


                </div>
            </div>



            <!--/ Transactions -->
        </div>

    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl d-flex  text-nowrap justify-content-between py-2 flex-md-row flex-column">
            <div style="padding-left:40%">
                ©
                <script>document.write(new Date().getFullYear());</script>
                , designed by
                <a href="#" target="_blank" class="footer-link fw-bolder"> <img src="/assets/img/icons/brands/Nova.png" height="auto" width="3%" class="mb-1" /> NOVA</a>

            </div>
        </div>
    </footer>
</div>




<script>



                var $tickerWrapper = $(".tickerwrapper");
                var $list = $tickerWrapper.find("ul.list");
                var $clonedList = $list.clone();
                var listWidth = 10;

                $list.find("li").each(function (i) {
                    listWidth += $(this, i).outerWidth(true);
                });

                var endPos = $tickerWrapper.width() - listWidth;

                $list.add($clonedList).css({
                    "width": listWidth + "px"
                });

                $clonedList.addClass("cloned").appendTo($tickerWrapper);

                //TimelineMax
                var infinite = new TimelineMax({ repeat: -1, paused: true });
                var time = 40;

                infinite
                    .fromTo($list, time, { rotation: 0.01, x: 0 }, { force3D: true, x: -listWidth, ease: Linear.easeNone }, 0)
                    .fromTo($clonedList, time, { rotation: 0.01, x: listWidth }, { force3D: true, x: 0, ease: Linear.easeNone }, 0)
                    .set($list, { force3D: true, rotation: 0.01, x: listWidth })
                    .to($clonedList, time, { force3D: true, rotation: 0.01, x: -listWidth, ease: Linear.easeNone }, time)
                    .to($list, time, { force3D: true, rotation: 0.01, x: 0, ease: Linear.easeNone }, time)
                    .progress(1).progress(0)
                    .play();

                //Pause/Play
                $tickerWrapper.on("mouseenter", function () {
                    infinite.pause();
                }).on("mouseleave", function () {
                    infinite.play();
                });

            document.getElementById("anasayfa").className = "menu-item active";
    $(function () {
        $('.marquee').mouseover(function () {
            $(this).attr('scrollamount', 0);
        }).mouseout(function () {
            $(this).attr('scrollamount', 5);
        });
    });
        function script() {
            document.body.style.cursor = "default";
            document.getElementById("content").style.display = "none";
            var online = null;
            var offline = null;
            $.getJSON('http://192.168.2.13:83/api/userlogin/exec/lastseen', function (data) {
                online = data.filter(x => x.USER_STATUS == "Çevrimiçi");
                online.sort((a, b) => Date.parse(b.LOGIN_DATE) - Date.parse(a.LOGIN_DATE));
                document.getElementById("cevrimicisayi").innerHTML = online.length;
                offline = data.filter(x => x.USER_STATUS == "Çevrimdışı");
                offline.sort((a, b) => Date.parse(b.LOGOUT_DATE) - Date.parse(a.LOGOUT_DATE));
                document.getElementById("cevrimdisisayi").innerHTML = offline.length;
            }).done(function () {
                for (let i = 0; i < online.length; i++) {
                    var s = '<li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="bottom" data-bs-html="true" class="avatar avatar-online  avatar-online avatar-md pull-up durum" title="" data-bs-original-title="<span></span>"><img src="/assets/img/avatars/' + online[i].USER_ID + '.png" alt="Avatar" class="rounded-circle"></li>'
                    var span = document.createElement("span");
                    var last = online[i].USER_NAME+"<br/>"+online[i].LAST_SEEN;
                    span.innerHTML = s;
                    var li = document.createElement("li");
                    li.setAttribute("data-bs-toggle", "tooltip");
                    li.setAttribute("data-bs-offset", "0,4");
                    li.setAttribute("data-bs-placement", "bottom");
                    li.setAttribute("data-bs-html", "true");
                    li.setAttribute("data-bs-original-title", "<span>" + last + "</span>");

                    
                        li.innerHTML = '<img src="/assets/img/avatars/' + online[i].USER_ID + '.png?@DateTime.Now.Ticks.ToString()" alt="Avatar" class="rounded-circle">';
                        
                        if ((online[i].PLATFORM).includes("Mobile")) {
                            li.className = "avatar  avatar-mobile avatar-md pull-up durum";
                        } else {
                            li.className = "avatar avatar-online avatar-md pull-up durum";
                           
                        }
                        document.getElementById("onlines").appendChild(li);
                    
                   
                }
                for (let i = 0; i < offline.length; i++) {

                    var li = document.createElement("li");
                    var last = offline[i].USER_NAME + "<br/>" +offline[i].LAST_SEEN;
                    li.setAttribute("data-bs-toggle", "tooltip");
                    li.setAttribute("data-bs-offset", "0,4");
                    li.setAttribute("data-bs-placement", "bottom");
                    li.setAttribute("data-bs-html", "true");
                    li.setAttribute("data-bs-original-title", "<span>" + last +"</span>");
                    li.className = "avatar avatar-busy avatar-sm pull-up durum";
                    li.innerHTML = '<img src="/assets/img/avatars/' + offline[i].USER_ID + '.png?@DateTime.Now.Ticks.ToString()" alt="Avatar" class="rounded-circle">';

                    document.getElementById("offlines").appendChild(li);
                }
            }).done(function () {
                $('.durum').tooltip();
                setInterval(function () {
                  $.getJSON('http://192.168.2.13:83/api/fiyat/kuroran', function (data) {
                     
                      var d = data;
                      $("#spot").text((parseFloat(d[0].KUR) ).toFixed(4));
                      $(".5").text(((parseFloat(d[0].KUR)) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 5)).toFixed(4));
                      $(".10").text(((parseFloat(d[0].KUR) ) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 10)).toFixed(4));
                      $(".15").text(((parseFloat(d[0].KUR)) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 15)).toFixed(4));
                      $(".20").text(((parseFloat(d[0].KUR)) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 20)).toFixed(4));
                      $(".25").text(((parseFloat(d[0].KUR)) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 25)).toFixed(4));
                      $(".30").text(((parseFloat(d[0].KUR)) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 30)).toFixed(4));
                      $(".35").text(((parseFloat(d[0].KUR)) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 35)).toFixed(4));
                      $(".40").text(((parseFloat(d[0].KUR)) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 40)).toFixed(4));
                      $(".45").text(((parseFloat(d[0].KUR)) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 45)).toFixed(4));
                      $(".50").text(((parseFloat(d[0].KUR)) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 50)).toFixed(4));
                      $(".55").text(((parseFloat(d[0].KUR)) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 55)).toFixed(4));
                      $(".60").text(((parseFloat(d[0].KUR)) * (1 + ((parseFloat(d[0].FAIZ_ORANI) / 3000)) * 60)).toFixed(4));
                      $("#guncelleme").html("<span style='font-size:12px'><b>Son Güncelleme:</b> " + new Date(d[0].KAYIT_TARIHI).toLocaleString()+"</span>");
                })
                }, 1000);






            })
            $.getJSON('http://192.168.2.13:83/api/userlogin/exec/ranks', function (data) {
                if (data.length >= 10) {
                    for (let i = 0; i < 10; i++) {

                        var li = document.createElement("li");
                        var last = data[i].USER_NAME + "<br/>" + data[i].RATE;
                        li.setAttribute("data-bs-toggle", "tooltip");
                        li.setAttribute("data-bs-offset", "0,4");
                        li.setAttribute("data-bs-placement", "bottom");
                        li.setAttribute("data-bs-html", "true");
                        li.setAttribute("data-bs-original-title", "<span>" + last + "</span>");

                        if (i == 0) {
                            li.className = "avatar avatar-lg pull-up durum";
                            li.innerHTML = '<img style="border: 6px solid #D6BD33 !important;box-shadow: 0 0 16px #D6BD33 !important;z-index: -1 !important" src="/assets/img/avatars/' + data[i].USER_ID + '.png?@DateTime.Now.Ticks.ToString()" alt="Avatar" class="rounded-circle"><h2 style="font-family:Monotype Corsiva, Times, Serif;font-weight:700;color:#444444;margin-top:-30px;z-index:5">1</h2>';
                        } else if (i == 1) {
                            li.className = "avatar avatar-md pull-up durum";
                            li.innerHTML = '<img style="border: 5px solid #95A5A6  !important;box-shadow: 0 0 14px #95A5A6  !important" src="/assets/img/avatars/' + data[i].USER_ID + '.png?@DateTime.Now.Ticks.ToString()" alt="Avatar" class="rounded-circle"><h3 style="font-family:Monotype Corsiva, Times, Serif;font-weight:700;color:#444444;margin-top:-20px;z-index:5">2</h3>';
                        }
                        else if (i == 2) {
                            li.className = "avatar avatar-sm pull-up durum";
                            li.innerHTML = '<img style="border: 4px solid #998033 !important;box-shadow: 0 0 12px #998033 !important" src="/assets/img/avatars/' + data[i].USER_ID + '.png?@DateTime.Now.Ticks.ToString()" alt="Avatar" class="rounded-circle"><h4 style="font-family:Monotype Corsiva, Times, Serif;font-weight:700;color:#444444;margin-top:-15px;z-index:5">3</h4>';
                        } else {
                            li.className = "avatar avatar-xs pull-up durum";
                            li.innerHTML = '<img  src="/assets/img/avatars/' + data[i].USER_ID + '.png?@DateTime.Now.Ticks.ToString()" alt="Avatar" class="rounded-circle">';
                        }


                        document.getElementById("ranks").appendChild(li);
                    }
                } else if (data.length > 0 && data.length < 10) {
                    for (let i = 0; i < data.length; i++) {

                        var li = document.createElement("li");
                        var last = data[i].USER_NAME + "<br/>" + data[i].RATE;
                        li.setAttribute("data-bs-toggle", "tooltip");
                        li.setAttribute("data-bs-offset", "0,4");
                        li.setAttribute("data-bs-placement", "bottom");
                        li.setAttribute("data-bs-html", "true");
                        li.setAttribute("data-bs-original-title", "<span>" + last + "</span>");

                        if (i == 0) {
                            li.className = "avatar avatar-lg pull-up durum";
                            li.innerHTML = '<img style="border: 6px solid #D6BD33 !important;box-shadow: 0 0 16px #D6BD33 !important;z-index: -1 !important" src="/assets/img/avatars/' + data[i].USER_ID + '.png?@DateTime.Now.Ticks.ToString()" alt="Avatar" class="rounded-circle"><h2 style="font-family:Monotype Corsiva, Times, Serif;font-weight:700;color:#444444;margin-top:-30px;z-index:5">1</h2>';
                        } else if (i == 1) {
                            li.className = "avatar avatar-md pull-up durum";
                            li.innerHTML = '<img style="border: 5px solid #95A5A6  !important;box-shadow: 0 0 14px #95A5A6  !important" src="/assets/img/avatars/' + data[i].USER_ID + '.png?@DateTime.Now.Ticks.ToString()" alt="Avatar" class="rounded-circle"><h3 style="font-family:Monotype Corsiva, Times, Serif;font-weight:700;color:#444444;margin-top:-20px;z-index:5">2</h3>';
                        }
                        else if (i == 2) {
                            li.className = "avatar avatar-sm pull-up durum";
                            li.innerHTML = '<img style="border: 4px solid #998033 !important;box-shadow: 0 0 12px #998033 !important" src="/assets/img/avatars/' + data[i].USER_ID + '.png?@DateTime.Now.Ticks.ToString()" alt="Avatar" class="rounded-circle"><h4 style="font-family:Monotype Corsiva, Times, Serif;font-weight:700;color:#444444;margin-top:-15px;z-index:5">3</h4>';
                        } else {
                            li.className = "avatar avatar-xs pull-up durum";
                            li.innerHTML = '<img  src="/assets/img/avatars/' + data[i].USER_ID + '.png?@DateTime.Now.Ticks.ToString()" alt="Avatar" class="rounded-circle">';
                        }


                        document.getElementById("ranks").appendChild(li);
                    }
                } else {
                    var li = document.createElement("li");
                    li.innerHTML = 'Henüz görüntülenecek bir oturum bulunmamaktadır.';
                    document.getElementById("ranks").appendChild(li);
                }

            }).then(function () {
                $('.durum').tooltip();

            })

        };



        function close() {
            @{Session["ModulYetkiMesajı"] = null;
}
        }
        function script1() {

            document.getElementById("onlines").replaceChildren();
            document.getElementById("offlines").replaceChildren();
            document.getElementById("ranks").replaceChildren();
            script();
            $('.durum').tooltip('dispose');
        }
        setInterval(myTimer2, 60000);
        function myTimer2()
        {
            $('.durum').tooltip('dispose');
            script1();


                };

                var $tickerWrapper = $(".tickerwrapper");
                var $list = $tickerWrapper.find("ul.list");
                var $clonedList = $list.clone();
                var listWidth = 10;

                $list.find("li").each(function (i) {
                    listWidth += $(this, i).outerWidth(true);
                });

                var endPos = $tickerWrapper.width() - listWidth;

                $list.add($clonedList).css({
                    "width": listWidth + "px"
                });

                $clonedList.addClass("cloned").appendTo($tickerWrapper);

                //TimelineMax
                var infinite = new TimelineMax({ repeat: -1, paused: true });
                var time = 40;

                infinite
                    .fromTo($list, time, { rotation: 0.01, x: 0 }, { force3D: true, x: -listWidth, ease: Linear.easeNone }, 0)
                    .fromTo($clonedList, time, { rotation: 0.01, x: listWidth }, { force3D: true, x: 0, ease: Linear.easeNone }, 0)
                    .set($list, { force3D: true, rotation: 0.01, x: listWidth })
                    .to($clonedList, time, { force3D: true, rotation: 0.01, x: -listWidth, ease: Linear.easeNone }, time)
                    .to($list, time, { force3D: true, rotation: 0.01, x: 0, ease: Linear.easeNone }, time)
                    .progress(1).progress(0)
                    .play();

                //Pause/Play
                $tickerWrapper.on("mouseenter", function () {
                    infinite.pause();
                }).on("mouseleave", function () {
                    infinite.play();
                });






</script>

</body>
</html>
