@{
    Layout = "/Views/Shared/_Layout_anasayfa.cshtml";
}

@model NOVA.Models.Mail

<!DOCTYPE html>

<html lang="tr"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>

    

    

</head>

<body>
    @if (Session["Alert"] != null)
    {
        if (Session["Alert"].ToString() == "Eski Şifreniz Yanlış")
        {
            <div class="alert alert-danger" role="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @Session["Alert"].ToString()
            </div>
        }
        else if (Session["Alert"].ToString() == "Girmiş olduğunuz şifreler aynı değil!")
        {
            <div class="alert alert-danger" role="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @Session["Alert"].ToString()
            </div>
        }
        else if (Session["Alert"].ToString() == "Şifre değişikliği başarılı!")
        {
            <div class="alert alert-success" role="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @Session["Alert"].ToString()
            </div>
        }
    }





    <!-- / Navbar -->
    <!-- Content wrapper -->
    <div class="container-xxl flex-grow-1 container-p-y">



        <div class="row" id="online">
            <div class="col-lg-12 mb-4 order-0">
                <div class="card">
                    <div class="d-flex align-items-end row">
                        <div class="col-sm-7">
                            <div class="card-body">
                                <h4 class="card-title text-primary">Hoşgeldin @Session["Name"]! 🎉</h4>

                                <p class="mb-4">EFECE Ailesi olarak iyi çalışmalar dileriz.</p>

                                <a href="@Url.Action("Index", "Satis")" class="btn btn-sm btn-outline-primary">Stok Bilgilerini İncele</a>
                            </div>
                        </div>
                        <div class="col-sm-5 text-center text-sm-left">
                            <div class="card-body pb-0 px-0 px-md-4">
                                <img src="/assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    var s = "";
                    if (ViewBag.OnlineUsers != null)
                    {
                        s = "flex";
                    }
                    else
                    {
                        s = "none";
                    }

                    <div class="card mt-4 col-2" style="display:@ViewBag.Display">
                        <div class="table-responsive text-nowrap">
                            <table class="table table-hover results sorttable centered" id="sortTable">
                                <thead class="centered">
                                    <tr>
                                        <th>Çevrimiçi Kullanıcılar</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr>
                                        <td>
                                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                                @foreach (var item in ViewBag.OnlineUsers)
                                                {
                                                    var resim = item.USER_ID + ".png";
                                                    var isim = item.USER_NAME;
                                                    var status = "";
                                                    if (item.ONLINE_STATUS == "Online")
                                                    {
                                                        status = "online";
                                                    }
                                                    else if (item.ONLINE_STATUS == "Busy")
                                                    {
                                                        status = "away";
                                                    }
                                                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-@status avatar-xs pull-up" title="" data-bs-original-title=@isim>
                                                        <img src="/assets/img/avatars/@resim" alt="Avatar" class="rounded-circle">
                                                    </li>
                                                }

                                            </ul>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="card mt-4 col-2" style="display:@ViewBag.Display" >
                        <div class="table-responsive text-nowrap">
                            <table class="table table-hover results sorttable centered" id="sortTable">
                                <thead class="centered">
                                    <tr>
                                        <th>Çevrimdışı Kullanıcılar</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr>
                                        <td>
                                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                                @for (int i = 0; i < ViewBag.OfflineUsers.Count; i++)
                                                {
                                                    var offlineduratıon1 = " önce";
                                                    var isim1 = ViewBag.OfflineUsers[i].USER_NAME + "</br>";
                                                    var gun1 = "";
                                                    var saat1 = "";
                                                    var dakika1 = "";
                                                    var resim1 = ViewBag.OfflineUsers[i].USER_ID + ".png";
                                                    if (ViewBag.OfflineDate[i] != " ")
                                                    {


                                                        if (ViewBag.OfflineDay[i] == "0")
                                                        {

                                                        }
                                                        else
                                                        {
                                                            gun1 = ViewBag.OfflineDay[i] + " gün ";
                                                        }
                                                        if (ViewBag.OfflineHour[i] == "0")
                                                        {

                                                        }
                                                        else
                                                        {
                                                            saat1 = ViewBag.OfflineHour[i] + " saat ";
                                                        }
                                                        if (ViewBag.OfflineMinute[i] == "0")
                                                        {

                                                        }
                                                        else
                                                        {
                                                            dakika1 = ViewBag.OfflineMinute[i] + " dakika ";
                                                        }
                                                        if (ViewBag.OfflineDay[i] == "0" && ViewBag.OfflineHour[i] == "0" && ViewBag.OfflineMinute[i] == "0")
                                                        {
                                                            isim1 = isim1 + "az önce";
                                                        }
                                                        else
                                                        {
                                                            isim1 = isim1 + gun1 + saat1 + dakika1 + offlineduratıon1;
                                                        }




                                                    }
                                                    else
                                                    {
                                                        //isim1 = ViewBag.OfflineUsers[i].USER_NAME;
                                                    }



                                                    <li data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="" data-bs-original-title="<span>@isim1</span>" class="avatar avatar-busy avatar-xs pull-up">
                                                        <img src="/assets/img/avatars/@resim1" alt="Avatar" class="rounded-circle">
                                                    </li>




                                                }

                                            </ul>
                                        </td>



                                    </tr>





                                </tbody>
                            </table>

                        </div>

                    </div>

                }
            </div>
        </div>



        <!--/ Transactions -->
    </div>

    


    <!-- / Content -->
    <!-- Footer -->
    <!-- / Footer -->
    <!-- / Layout wrapper -->

   

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>



        function updateDiv() {
            $("#online").load(window.location.href + " #online");
        }
        setInterval(myTimer, 10000);
        function myTimer() {
            $.ajax({
                type: "GET",
                url: '/Home/Main',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                }
            });
            updateDiv();
        }


    </script>

</body>
</html>
