

@{

    Layout = "/Views/Shared/_Layout_detayli_Sip.cshtml";
}
@model NOVA.Models.SiparisModel

<!DOCTYPE html>

<html >
<head>

    <!-- Fonts -->
    <!-- Icons. Uncomment required icon fonts -->
    <!-- Core CSS -->



    <meta name="viewport" content="user-scalable=no, width=device-width" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Page CSS -->
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->

    <link href="~/assets/vendor/css/cssprogress.min.css" rel="stylesheet" />

    <link href="~/assets/vendor/css/accordion.css" rel="stylesheet" />
    <link href="~/assets/vendor/css/Chart.css" rel="stylesheet" />
    <script type="text/javascript">
        function showHideRow(row) {
            $("#" + row).toggle("fast");
        }


    </script>



    <style>
        tr {
            cursor: pointer;
        }

        #wrapper {
            margin: 0 auto;
            padding: 0px;
            text-align: center;
            width: 995px;
        }

            #wrapper h1 {
                margin-top: 50px;
                font-size: 45px;
                color: #585858;
            }

                #wrapper h1 p {
                    font-size: 20px;
                }

        #table_detail {
            width: 500px;
            text-align: left;
            border-collapse: collapse;
            color: #2E2E2E;
            border: #A4A4A4;
        }

            #table_detail tr:hover {
                background-color: #F2F2F2;
            }

            #table_detail .hidden_row {
                display: none;
            }
    </style>
    <style>
        .results tr[visible='false'],
        .no-result {
            display: none;
        }

        .results tr[visible='true'] {
            display: table-row;
        }

        .counter {
            padding: 8px;
            color: #ccc;
        }

        .full-width-div {
            position: absolute;
            width: 100%;
            left: 0;
        }

        .sticky {
            position: fixed;
            top: 0;
        }

        .sticky-left {
            position: fixed;
            left: 0;
        }

        table thead tr td {
            background-color: gray;
            min-width: 100px;
            position: relative;
        }

        .filter {
            position: absolute;
            border: solid 1px;
            max-height: 500px;
            top: 40px;
            background-color: white;
            width: 140px;
            right: 0;
            display: none;
            overflow: scroll;
        }

        .spinner {
            position: absolute;
            top: 50%;
            left: 53%;
            margin-left: -50px;
            margin-top: -50px;
            background-size: 100%;
        }
    </style>
    <style>
        .centercontent {
            position: absolute;
            max-width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
        }
    </style>
    <script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="~/assets/vendor/css/scripts.js"></script>
</head>
<body onload="move()" onclose="close()" style="background-color: #f5f5f9 !important;font-size:12px !important;overflow:hidden">


    <div class="container-fluid sticky-top position-sticky">

        @if (Session["Info"] != null)
        {
            <div class="row mb-1">
                <div class="alert alert-success" role="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Mail başarıyla gönderilmiştir.
                </div>
            </div>
            Session["Info"] = null;
        }


        @using (Html.BeginForm("Filter", "Satis", FormMethod.Post, new { @id = "filterForm" }))
        {<div class="row mt-5 sticky-top position-sticky">
                <div class="col-5">
                    <div class="row mt-1">
                        <div class="col">
                            <select class="js-example-basic-multiple sticky-top position-sticky" id="TESLIM_YERI" name="TESLIM_YERI" multiple="multiple" style="width:100%;top:65px">

                                @{

                                    List<String> teslim = new List<String>();
                                    foreach (var item in ViewBag.AltKalem)
                                    {
                                        if (!teslim.Contains(item.TESLIM_YERI))
                                        {
                                            teslim.Add(item.TESLIM_YERI);
                                        }

                                    }
                                    foreach (var item2 in teslim)
                                    {
                                        if (ViewBag.FilterTeslim != null)
                                        {
                                            if (ViewBag.FilterTeslim.Contains(item2))
                                            {
                                                <option value="@item2" selected> @item2 </option>
                                            }
                                            else
                                            {
                                                <option value="@item2"> @item2 </option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@item2"> @item2 </option>
                                        }

                                    }
                                }


                            </select>
                        </div>

                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <select class="js-example-basic-multiple-plasiyer sticky-top position-sticky" id="PLASIYER_ADI" name="PLASIYER_ADI" multiple="multiple" style="width:100%;top:65px">
                                @{

                                    List<String> plasiyer = new List<String>();
                                    foreach (var ps in ViewBag.AltKalem)
                                    {
                                        if (!plasiyer.Contains(ps.PLASIYER_ADI))
                                        {
                                            plasiyer.Add(ps.PLASIYER_ADI);
                                        }


                                    }
                                    foreach (var item2 in plasiyer)
                                    {
                                        if (ViewBag.FilterPlasiyer != null)
                                        {
                                            if (ViewBag.FilterPlasiyer.Contains(item2))
                                            {
                                                <option value="@item2" selected> @item2 </option>
                                            }
                                            else
                                            {
                                                <option value="@item2"> @item2 </option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@item2"> @item2 </option>
                                        }



                                    }
                                }


                            </select>
                        </div>



                    </div>

                    <div class="row mt-1">
                        <div class="col">
                            <select class="js-example-basic-multiple-doviz sticky-top position-sticky" id="CARI_DOVIZ_TIPI" name="CARI_DOVIZ_TIPI" multiple="multiple" style="width:100%;top:65px">
                                @{

                                    List<String> doviz = new List<String>();
                                    foreach (var item in ViewBag.AltKalem)
                                    {
                                        if (!doviz.Contains(item.CARI_DOVIZ_TIPI))
                                        {
                                            doviz.Add(item.CARI_DOVIZ_TIPI);
                                        }

                                    }
                                    foreach (var item2 in doviz)
                                    {
                                        if (ViewBag.FilterDoviz != null)
                                        {
                                            if (ViewBag.FilterDoviz.Contains(item2))
                                            {
                                                <option value="@item2" selected> @item2 </option>
                                            }
                                            else
                                            {
                                                <option value="@item2"> @item2 </option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@item2"> @item2 </option>
                                        }

                                    }


                                }


                            </select>
                        </div>



                    </div>

                    <div class="row mt-1" id="refresh1">


                        <div class="col" style="font-size:10px">
                            @if (ViewBag.Toplam != null)
                            {
                                if (ViewBag.ToplamTryFilter != null)
                                {
                                    <div class="col "><span class="nettutar" style="display:none"><strong>∑ TRY: </strong>@string.Format("{0:N02}", ViewBag.Toplam) ₺</span><span class="nettutardoviz"><strong>∑ TRY: </strong>@string.Format("{0:N02}", ViewBag.ToplamTryFilter) ₺</span></div>

                                }
                                if (ViewBag.ToplamUsd != 0)
                                {<div class="row filtreToplamUSD "><div class="col"><strong><span>∑ USD:  </span></strong> <span class="text-end">@string.Format("{0:N02}", ViewBag.ToplamUsd) $</span></div></div>
                            }

                            if (ViewBag.ToplamEur != 0)
                            {<div class="row filtreToplamEUR "><div class="col"><strong><span>∑ EUR:  </span> </strong><span class="text-end">@string.Format("{0:N02}", ViewBag.ToplamEur) €</span></div></div>
                        }

                        if (ViewBag.ToplamGbp != 0)
                        {<div class="row filtreToplamGBP "><div class="col"><strong><span>∑ GBP:  </span></strong><span class="text-end">@string.Format("{0:N02}", ViewBag.ToplamGbp) £</span></div></div>
                    }

                }
                        </div>

                    </div>

                </div>



                <div class="col">
                    <div class="row">

                        <div class="col-4">

                            <input class="form-control sticky-top position-sticky" style="top:50px" type="date" id="BASLANGIC_TARIH" name="BASLANGIC_TARIH" value=" " placeholder="Başlangıç Tarihi">
                        </div>


                        <div class="col">
                            <div class="form-check form-switch mb-1 sticky-top position-sticky" style="font-size:12px;top:65px">
                                <label class="form-check-label" for="flexSwitchCheckChecked1">Üretim</label>

                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked1" unchecked="" onclick="change1()" name="URETILECEKMI">



                            </div>
                            <script>
                                function change1() {

                                    if (document.getElementById("flexSwitchCheckChecked1").checked) {

                                        document.getElementById("flexSwitchCheckChecked1").value = true;
                                    }
                                    else {
                                        document.getElementById("flexSwitchCheckChecked1").value = false;
                                    }


                                }
                            </script>
                        </div>
                        <div class="col">

                            <button type="button" class="btn btn-success float-end" onclick="myUpdateFunction()" data-bs-toggle='tooltip' data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title='<i class="bx bxs-info-circle bx-xs" ></i> <span>Güncel tüm detaylı sipariş raporunu mail atar.</span>'><i class='bx bx-mail-send'></i></button>
                            <button id="submitbutton" type="button" class="btn btn-success float-end" style="display:none" onclick="location.href='@Url.Action("MailDetayliSip", "Satis")'"></button>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4">

                            <input class="form-control sticky-top position-sticky" style="top:50px" type="date" id="BITIS_TARIH" name="BITIS_TARIH" value=" " placeholder="Bitiş Tarihi">
                        </div>
                        <div class="col">
                            <div class="form-check form-switch" style="font-size:12px">





                                <input class="form-check-input" type="checkbox" id="dovizswitch" unchecked="" onclick="change()">

                                <label class="form-check-label" for="dovizswitch">TRY Bazında</label>
                            </div>
                            <script>
                                function change() {
                                    if (document.getElementById("dovizswitch").checked) {

                                        for (let i = 0; i < document.getElementsByClassName('geneltoplamTL').length; i++) {
                                            document.getElementsByClassName("geneltoplamTL")[i].style.display = "table-cell";
                                        }
                                        for (let i = 0; i < document.getElementsByClassName('geneltoplamDoviz').length; i++) {
                                            document.getElementsByClassName("geneltoplamDoviz")[i].style.display = "none";
                                        }
                                        for (let i = 0; i < document.getElementsByClassName('nettutar').length; i++) {
                                            document.getElementsByClassName("nettutar")[i].style.display = "block";
                                        }
                                        for (let i = 0; i < document.getElementsByClassName('nettutardoviz').length; i++) {
                                            document.getElementsByClassName("nettutardoviz")[i].style.display = "none";
                                        }
                                        for (let i = 0; i < document.getElementsByClassName('filtreToplamUSD').length; i++) {
                                            document.getElementsByClassName("filtreToplamUSD")[i].style.display = "none";
                                        }
                                        for (let i = 0; i < document.getElementsByClassName('filtreToplamEUR').length; i++) {
                                            document.getElementsByClassName("filtreToplamEUR")[i].style.display = "none";
                                        }
                                        for (let i = 0; i < document.getElementsByClassName('filtreToplamGBP').length; i++) {
                                            document.getElementsByClassName("filtreToplamGBP")[i].style.display = "none";
                                        }

                                    }
                                    else {
                                        for (let i = 0; i < document.getElementsByClassName('geneltoplamTL').length; i++) {
                                            document.getElementsByClassName("geneltoplamTL")[i].style.display = "none";
                                        }
                                        for (let i = 0; i < document.getElementsByClassName('geneltoplamDoviz').length; i++) {
                                            document.getElementsByClassName("geneltoplamDoviz")[i].style.display = "table-cell";
                                        }
                                        for (let i = 0; i < document.getElementsByClassName('nettutar').length; i++) {
                                            document.getElementsByClassName("nettutar")[i].style.display = "none";
                                        }
                                        for (let i = 0; i < document.getElementsByClassName('nettutardoviz').length; i++) {
                                            document.getElementsByClassName("nettutardoviz")[i].style.display = "block";
                                        }

                                        for (let i = 0; i < document.getElementsByClassName('filtreToplamUSD').length; i++) {

                                            document.getElementsByClassName("filtreToplamUSD")[i].style.display = "block";

                                        }


                                        for (let i = 0; i < document.getElementsByClassName('filtreToplamEUR').length; i++) {
                                            document.getElementsByClassName("filtreToplamEUR")[i].style.display = "block";
                                        }

                                        for (let i = 0; i < document.getElementsByClassName('filtreToplamGBP').length; i++) {
                                            document.getElementsByClassName("filtreToplamGBP")[i].style.display = "block";
                                        }


                                    }


                                }
                            </script>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4">
                            <i style="font-size:25px;cursor:pointer" class='bx bx-filter-alt mt-1' id="btnsubmit"></i>

                        </div>
                        <div class="col">
                            <div class="form-check form-switch mb-1 sticky-top position-sticky" style="font-size:12px;top:65px">
                                <label class="form-check-label" for="SSIP_CHECK">Askıda SSIP→MSIP</label>

                                <input class="form-check-input" type="checkbox" id="SSIP_CHECK" unchecked="" onclick="change2()" name="SSIP_CHECK">



                            </div>
                            <script>
                                function change2() {

                                    if (document.getElementById("SSIP_CHECK").checked) {

                                        document.getElementById("SSIP_CHECK").value = "E";
                                    }

                                    else {
                                        document.getElementById("SSIP_CHECK").value = null;
                                    }


                                }
                            </script>
                        </div>

                    </div>


                </div>


            </div>

        }



        <div class="row mt-2" id="refresh">

            <!-- Total Revenue -->
            <div class="col-12 col-lg order-2 order-md-3 order-lg-2 mb-4">
                <div class="card" onreset="refreshtable()">
                    <div class="centercontent">
                        <img id="process" src="~/assets/img/elements/load.gif" style="width:150px;display:none" />
                    </div>
                    <div class="row row-bordered g-0">
                        <div class="col-md">
                            <div class="table-responsive text-nowrap " style="max-height: 450px">
                                <table class="table table-sm grid ">

                                    <tbody>
                                        <tr class=" position-sticky sticky-top" style="background-color: #E2F3FF; height: 30px;top:-2px">
                                            <td style="font-size: 14px; background-color: #E2F3FF; width: 50px" class="position-sticky sticky-left"><strong>Sipariş No</strong><div class="filter table-responsive"></div></td>
                                            <td style="font-size:14px" class="text-center"><strong>Tarih</strong><div class="filter"></div></td>
                                            <td style="font-size:14px" colspan="4" class="text-center"><strong>Cari İsim</strong><div class="filter"></div></td>
                                            <td style="font-size:14px" class="text-center"><strong>Hesap Türü</strong><div class="filter"></div></td>
                                            <td style="font-size:14px" class="text-center"><strong>Teslim Yeri</strong><div class="filter"></div></td>
                                            <td style="font-size:14px" class="text-end"><strong>Plasiyer Adı</strong><div class="filter"></div></td>
                                            <td style="font-size:14px" class="text-center" colspan="8"><span><strong>Genel Toplam</strong></span><div class="filter"></div></td>



                                        </tr>

                                        @{ int i = 0;
                                            var x = ViewBag.AltKalem as ICollection<NOVA.Models.SiparisModel>;
                                            int sayac = 1;
                                        }

                                        @foreach (var item in ViewBag.UstKalem)
                                        {
                                            String stokadi = "";
                                            String miktar = "";
                                            String olcu = "";
                                            String brutfiyat = "";
                                            String satisiskonto = "";
                                            String netfiyat = "";
                                            String nettutar = "";
                                            String teslimat, teslimatmsip, teslimatssip, teslimaturetim = "";
                                            String msipstring, ssipstring, uretimstring = "";
                                            int start = 0, startmsip = 0, startssip = 0, starturetim = 0;
                                            int end, endssip, endmsip, enduretim = 0;
                                            string cari_isim = @item.CARI_ISIM;
                                            string updated_cari_isim = "";
                                            int msiptoplamoran = 0, ssiptoplamoran = 0, uretimtoplamoran = 0;
                                            int topac = 0, topacuretim = 0, topacssip = 0;
                                            decimal? toplamteslimmiktarssip = 0;
                                            decimal? bakiyemiktarssip = 0;
                                            decimal? uretilenmiktar = 0;
                                            decimal? uretilecekmiktar = 0;
                                            decimal? msipteslim = 0;
                                            if (cari_isim.Length > 28)
                                                updated_cari_isim = (cari_isim.Substring(0, 14)) + "..." + (cari_isim.Substring(cari_isim.Length - 10));
                                            else
                                                updated_cari_isim = cari_isim;


                                            string sipno = @item.SIPARIS_NO;
                                            string updated_sipno = "";
                                            updated_sipno = (sipno.Substring(0, 1)) + (sipno.Substring(3, 2)) + "-" + (sipno.Substring(sipno.Length - 5));
                                            string dovtip = "";
                                            if (item.DOV_TIP == null)
                                                dovtip = "TRY";
                                            else
                                                dovtip = item.DOV_TIP;



                                            decimal geneltoplam = 0;
                                            if (dovtip != "TRY")
                                                geneltoplam = item.DOV_GENELTOPLAM;
                                            else
                                                geneltoplam = item.GENELTOPLAM;
                                            <tr style="background-color: #F4FBFF " class="filt w3-border-light-blue w3-animate-top searchable" onclick="showHideRow('@i');">
                                                <td class="sticky-left position-sticky text-center w3-border-light-blue" style="background-color: #F4FBFF;width:30px">@updated_sipno</td>
                                                <td class="text-center">@item.TARIH.ToString("dd/MM/yy")</td>
                                                <td colspan="4" class="text-start">@updated_cari_isim</td>
                                                <td class="text-center">@item.CARI_DOVIZ_TIPI</td>
                                                <td class="text-center">@item.TESLIM_YERI</td>
                                                <td class="text-end">@item.PLASIYER_ADI</td>
                                                <td class="text-center geneltoplamTL" colspan="8" style="display:none"><span>@string.Format("{0:N02}", item.GENELTOPLAM) TRY</span></td>
                                                <td class="text-center geneltoplamDoviz" colspan="8"><span>@string.Format("{0:N02}", geneltoplam) @dovtip</span></td>

                                            </tr>



                                            <tr class="table-light w3-border-light-blue toggle" id="@i" style="display:none;">
                                                <td colspan="1" class="sticky-left position-sticky" style="vertical-align: top">
                                                    <p class="mt-0"><strong><u>Sıra No</u></strong></p>




                                                    @foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {


                                                        <p><strong>@sayac</strong></p>
                                                        teslimatmsip = @String.Format("{0:0}", item1.TESLIMAT_ORANI * 100);
                                                        teslimatssip = @String.Format("{0:0}", item1.TESLIMAT_ORANI_SSIP * 100);
                                                        teslimaturetim = @String.Format("{0:0}", item1.URETIM_ORANI * 100);
                                                        if (teslimatmsip == "0" || teslimatmsip == "")
                                                            startmsip = startmsip + (int.Parse("0"));
                                                        else
                                                            startmsip = (startmsip + (int.Parse(teslimatmsip)));
                                                        if (teslimatssip == "0" || teslimatssip == "")
                                                            startssip = startssip + (int.Parse("0"));
                                                        else
                                                            startssip = (startssip + (int.Parse(teslimatssip)));
                                                        if (teslimaturetim == "0" || teslimaturetim == "")
                                                            starturetim = starturetim + (int.Parse("0"));
                                                        else
                                                            starturetim = (starturetim + (int.Parse(teslimaturetim)));
                                                        if (item1.URETILECEKMI == "E")
                                                            topacuretim++;
                                                        if (item1.TESLIM_MIKTARI_SSIP + item1.BAKIYE_MIKTARI_SSIP > 0)
                                                            topacssip++;
                                                        if (item1.TESLIM_MIKTARI + item1.BAKIYE_MIKTARI > 0)
                                                            topac++;

                                                        sayac++;

                                                    }
                                                    @{
                                                        msipstring = @String.Format("{0:0}", msiptoplamoran);

                                                        if (topacuretim > 0)
                                                            uretimtoplamoran = starturetim / topacuretim;
                                                        else
                                                            uretimtoplamoran = starturetim;
                                                        if (topacssip > 0)
                                                            ssiptoplamoran = startssip / topacssip;
                                                        else
                                                            ssiptoplamoran = startssip;
                                                        if (topac > 0)
                                                            msiptoplamoran = startmsip / topac;
                                                        else
                                                            msiptoplamoran = startmsip;

                                                        msipstring = @String.Format("{0:0}", msiptoplamoran);
                                                        uretimstring = @String.Format("{0:0}", uretimtoplamoran);
                                                        ssipstring = @String.Format("{0:0}", ssiptoplamoran);
                                                        endmsip = 100 - msiptoplamoran;
                                                        endssip = 100 - ssiptoplamoran;
                                                        enduretim = 100 - uretimtoplamoran;

                                                        sayac = 1;
                                                    }

                                                    <p>
                                                        <span class="top-0">
                                                            <svg width="60%" viewBox="0 0 40 40" class="donut">
                                                                <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
                                                                <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
                                                                <circle class="donut-segment-msip" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="@msiptoplamoran @endmsip" stroke-dashoffset="25"></circle>
                                                                <g class="donut-text">

                                                                    <text y="55%" transform="translate(0, 2)">
                                                                        <tspan x="50%" text-anchor="middle" class="donut-percent-msip" style="font-size:13px;font-weight:bold;font-stretch:condensed">@msipstring<tspan style="font-size: 10px; font-weight:normal">%</tspan></tspan>
                                                                    </text>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <span class="top-0">
                                                            <svg width="60%" viewBox="0 0 40 40" class="donut">
                                                                <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
                                                                <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
                                                                <circle class="donut-segment-ssip" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="@ssiptoplamoran @endssip" stroke-dashoffset="25"></circle>
                                                                <g class="donut-text">

                                                                    <text y="55%" transform="translate(0, 2)">
                                                                        <tspan x="50%" text-anchor="middle" class="donut-percent-ssip" style="font-size:13px;font-weight:bold;font-stretch:condensed">@ssipstring<tspan style="font-size: 10px; font-weight:normal">%</tspan></tspan>
                                                                    </text>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <span class="top-0">
                                                            <svg width="60%" viewBox="0 0 40 40" class="donut">
                                                                <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
                                                                <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
                                                                <circle class="donut-segment" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="@uretimtoplamoran @enduretim" stroke-dashoffset="25"></circle>
                                                                <g class="donut-text">

                                                                    <text y="55%" transform="translate(0, 2)">
                                                                        <tspan x="50%" text-anchor="middle" class="donut-percent" style="font-size:13px;font-weight:bold;font-stretch:condensed">@uretimstring<tspan style="font-size: 10px; font-weight:normal">%</tspan></tspan>
                                                                    </text>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </p>
                                                </td>
                                                @{
                                                    startmsip = 0;
                                                    startssip = 0;
                                                    starturetim = 0;
                                                }
                                                <td colspan="1" style="vertical-align: top">

                                                    <p class="mt-0"><strong><u>Stok Adı</u></strong></p>@foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {<p class="text-nowrap">@item1.STOK_ADI.Replace('Ý', 'I') </p>teslimat = @String.Format("{0:0}", item1.TESLIMAT_ORANI * 100);
                                                    start = int.Parse(teslimat);
                                                    end = 100 - start;
                                                }






                                                </td>
                                                <td colspan="1" style="vertical-align: top">
                                                    <p class="text-end"><strong><u>Miktar 1</u></strong></p>@foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {<p class="text-end"><span>@String.Format("{0:N02}", item1.MIKTAR)</span>&nbsp;&nbsp;<span class="text-end">@item1.OLCU_BR1</span></p>

                                                }



                                                </td>

                                                <td colspan="1" style="vertical-align: top">
                                                    <p class="text-end"><strong><u>Miktar 2</u></strong></p>@foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {<p class="text-end"><span>@String.Format("{0:N02}", item1.MIKTAR2)</span>&nbsp;&nbsp;<span class="text-end">@item1.OLCU_BR2</span></p>

                                                }

                                                </td>

                                                <td colspan="1" style="vertical-align: top">
                                                    <p class="text-end"><strong><u>Brüt Fiyat</u></strong></p>@foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {
                                                        decimal? brut_fiyat = 0;
                                                        if (item1.DOV_TIP != "TRY")
                                                        {
                                                            brut_fiyat = item1.BRUT_FIYAT/item1.KUR;
                                                        }
                                                        else
                                                        {
                                                            brut_fiyat = item1.BRUT_FIYAT;
                                                        }
                                                        <p class="text-end"><span class="nettutar" style="display:none">@String.Format("{0:N02}", item1.BRUT_FIYAT)</span><span class="nettutardoviz">@String.Format("{0:N02}", brut_fiyat)</span></p>

                                                    }

                                                </td>
                                                <td colspan="1" style="vertical-align: top">
                                                    <p class="text-end"><strong><u>İskonto</u></strong></p>@foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {<p class="text-end">@String.Format("{0:0.00}", item1.SATIS_ISKONTOSU)%</p>

                                                }

                                                </td>

                                                <td colspan="1" style="vertical-align: top">
                                                    <p class="text-end"><strong><u>Net Fiyat</u></strong></p>@foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {
                                                        decimal? net_fiyat = 0;
                                                        if (item1.DOV_TIP != null)
                                                        {
                                                            net_fiyat = item1.DOV_NET_FIYAT;
                                                        }
                                                        else
                                                        {
                                                            net_fiyat = item1.NET_FIYAT;
                                                        }
                                                        <p class="text-end"><span class="nettutar" style="display:none">@String.Format("{0:N02}", item1.NET_FIYAT)</span><span class="nettutardoviz">@String.Format("{0:N02}", net_fiyat)</span></p>

                                                    }
                                                    <p class="text-end"><strong>Brüt Toplam:</strong></p><p class="text-end"><strong>Toplam KDV:</strong></p><p class="text-end"><strong>Tevkifat:</strong></p><p class="text-end"><strong>Genel Toplam:</strong></p>

                                                </td>
                                                <td style="vertical-align: top">
                                                    <p class="text-end"><span class="float-end"><strong><u>Net Tutar</u></strong></span></p><br />@{var y = x.FirstOrDefault(t => t.SIPARIS_NO == item.SIPARIS_NO);}
                                                    @foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {
                                                        decimal? net_tutar = 0;
                                                        if (item1.DOV_TIP != null)
                                                        {
                                                            net_tutar = item1.DOV_TUTAR;
                                                        }
                                                        else
                                                        {
                                                            net_tutar = item1.NET_TUTAR_KALEM;
                                                        }
                                                        <p class="text-end"><span class="nettutar" style="display:none">@String.Format("{0:N02}", item1.NET_TUTAR_KALEM)</span><span class="nettutardoviz">@String.Format("{0:N02}", net_tutar)</span></p>

                                                    }
                                                    @{
                                                        decimal? brut = 0, toplamkdv = 0, tevkifat = 0, geneltop = 0;
                                                        if (y.DOV_TIP != null)
                                                        {
                                                            brut = y.DOV_BRUTTUTAR; toplamkdv = y.DOV_TOPLAM_KDV; tevkifat = y.DOV_TEVKIFAT; geneltop = y.DOV_GENELTOPLAM;
                                                        }
                                                        else
                                                        {
                                                            brut = y.BRUTTUTAR; toplamkdv = y.TOPLAM_KDV; tevkifat = y.TEVKIFAT; geneltop = y.GENELTOPLAM;
                                                        }
                                                    }

                                                    <p class="text-end" style="height:18.36px"><span class="nettutar float-end" style="display:none">@String.Format("{0:N02}", y.BRUTTUTAR)</span><span class="nettutardoviz float-end">@String.Format("{0:N02}", brut)</span></p><p style="height:18.36px"><span class="nettutar float-end" style="display:none"> @String.Format("{0:N02}", y.TOPLAM_KDV) </span><span class="nettutardoviz float-end"> @String.Format("{0:N02}", toplamkdv) </span></p><p style="height:18.36px"><span class="nettutar float-end" style="display:none"> @String.Format("{0:N02}", y.TEVKIFAT)</span><span class="nettutardoviz float-end"> @String.Format("{0:N02}", tevkifat)</span> </p><p style="height:18.36px"><span class="nettutar float-end" style="display:none"><strong> @String.Format("{0:N02}", y.GENELTOPLAM)</strong></span><span class="nettutardoviz float-end"><strong> @String.Format("{0:N02}", geneltop)</strong></span></p>

                                                    <br />
                                                </td>
                                                <td style="vertical-align: top; background-color: #f2faf5">
                                                    <p class="text-end"><span><strong><u>MSIP Teslim</u></strong></span></p>
                                                    @foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {<p class="text-end"><span>@String.Format("{0:N02}", item1.TESLIM_MIKTARI)</span></p>
                                                    msipteslim = msipteslim + item1.TESLIM_MIKTARI;
                                                }
                                                    @if (msipteslim != 0)
                                                    {<p class="text-end"><span><strong><u>Toplam</u></strong></span></p>
                                                        <p class="text-end"><span><stron>@String.Format("{0:N02}", msipteslim)</stron></span></p>}
                                                </td>
                                                <td style="vertical-align: top; background-color: #f2faf5">
                                                    <p class="text-end"><span><strong><u>MSIP Bekleyen</u></strong></span></p>
                                                    @{
                                                        decimal? msipbekleyen = 0;}
                                                    @foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {<p class="text-end"><span>@String.Format("{0:N02}", item1.BAKIYE_MIKTARI)</span></p>

                                                    msipbekleyen = msipbekleyen + item1.BAKIYE_MIKTARI;

                                                }
                                                    @if (msipbekleyen != 0)
                                                    {<p class="text-end"><span><strong><u>Toplam</u></strong></span></p>
                                                        <p class="text-end"><span><strong>@String.Format("{0:N02}", msipbekleyen)</strong></span></p>}

                                                </td>
                                                <td style="vertical-align: top; background-color: #f2faf5">
                                                    <p class="text-center"><span><strong><u>MSIP Süreç</u></strong></span></p>
                                                    @foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {
                                                        teslimat = @String.Format("{0:0}", item1.TESLIMAT_ORANI * 100);
                                                        start = int.Parse(teslimat);
                                                        end = 100 - start;


                                                        <p class="meter" id="meter-msip" style="height:18.36px;"><span style="width:@start%"><span class="progress" id="progress-msip"><span style="margin-bottom:10px;text-align:end;color:black">@start%</span></span></span></p>




                                                    }



                                                </td>
                                                <td style="vertical-align: top; background-color: #fffaed ">
                                                    <p class="text-end"><span><strong><u>SSIP Teslim</u></strong></span></p>


                                                    @foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {
                                                        if (item1.TESLIM_MIKTARI_SSIP != null)
                                                        {
                                                            <p class="text-center"><span>@String.Format("{0:N02}", item1.TESLIM_MIKTARI_SSIP)</span></p> toplamteslimmiktarssip = toplamteslimmiktarssip + item1.TESLIM_MIKTARI_SSIP;
                                                        }
                                                        else
                                                        {
                                                            <p class="text-center"><span class="text-center">-</span></p>
                                                        }

                                                    }



                                                    @if (toplamteslimmiktarssip != 0)
                                                    {<p class="text-center"><span><strong><u>Toplam</u></strong></span></p>
                                                        <p class="text-center"><span>@String.Format("{0:N02}", toplamteslimmiktarssip)</span></p><br />
                                                    }


                                                </td>
                                                <td style="vertical-align: top; background-color: #fffaed ">
                                                    <p><span class="float-end"><strong><u>SSIP Bekleyen</u></strong></span></p><br />
                                                    @foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {
                                                        if (item1.BAKIYE_MIKTARI_SSIP != null)
                                                        {<p class="text-center"><span>@String.Format("{0:N02}", item1.BAKIYE_MIKTARI_SSIP)</span></p> bakiyemiktarssip = bakiyemiktarssip + item1.BAKIYE_MIKTARI_SSIP;
                                                    }
                                                    else
                                                    {
                                                        <p class="text-center"><span class="text-center">-</span></p>
                                                    }

                                                }
                                                    @if (bakiyemiktarssip != 0)
                                                    {<p class="text-center"><span><strong><u>Toplam</u></strong></span></p>
                                                        <p class="text-center"><span>@String.Format("{0:N02}", bakiyemiktarssip)</span></p><br />
                                                    }

                                                </td>
                                                <td style="vertical-align: top; background-color: #fffaed ">
                                                    <p><span><strong><u>SSIP Süreç</u></strong></span></p>
                                                    @foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {
                                                        if (item1.TESLIMAT_ORANI_SSIP != null)
                                                        {
                                                            teslimat = @String.Format("{0:0}", item1.TESLIMAT_ORANI_SSIP * 100);
                                                            start = int.Parse(teslimat);
                                                            end = 100 - start;
                                                            <p class="meter" id="meter-ssip" style="height:18.36px;">

                                                                <span style="width:@start%"><span class="progress" id="progress-ssip"><span style="margin-bottom:10px;text-align:end;color:white">@start%</span></span></span>

                                                            </p>



                                                        }
                                                        else
                                                        {
                                                            <p class="text-center"><span class="text-center">-</span></p>
                                                        }


                                                    }


                                                </td>

                                                <td style="vertical-align: top; background-color: #f5f6fc">
                                                    <p class="text-end"><span><strong><u>Üretilen</u></strong></span></p>
                                                    @foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {
                                                        if (item1.URETILEN_MIKTAR1 != null)
                                                        {<p class="text-end"><span>@String.Format("{0:N02}", item1.URETILEN_MIKTAR1)</span></p> uretilenmiktar = uretilenmiktar + item1.URETILEN_MIKTAR1;
                                                    }
                                                    else
                                                    {
                                                        <p class="text-center"><span class="text-center">-</span></p>
                                                    }

                                                }
                                                    @if (uretilenmiktar != 0)
                                                    {
                                                        <p class="text-end"><span><strong><u>Toplam</u></strong></span></p>
                                                        <p class="text-end"><span><strong>@String.Format("{0:N02}", uretilenmiktar)</strong></span></p>
                                                    }

                                                </td>
                                                <td style="vertical-align: top; background-color: #f5f6fc">
                                                    <p class="text-end"><span><strong><u>Üretim Bekleyen</u></strong></span></p>
                                                    @foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {
                                                        if (item1.URETILECEK_MIKTAR1 != null)
                                                        {<p class="text-end"><span>@String.Format("{0:N02}", item1.URETILECEK_MIKTAR1)</span></p> uretilecekmiktar = uretilecekmiktar + item1.URETILECEK_MIKTAR1;
                                                    }
                                                    else
                                                    {
                                                        <p class="text-end"><span>-</span></p>
                                                    }

                                                }
                                                    @if (uretilecekmiktar != 0)
                                                    {
                                                        <p class="text-end"><span><strong><u>Toplam</u></strong></span></p>
                                                        <p class="text-end"><span><strong>@String.Format("{0:0.00}", uretilecekmiktar)</strong></span></p>
                                                    }

                                                </td>
                                                <td style="vertical-align: top; background-color: #f5f6fc">
                                                    <p><span><strong><u>Üretim Süreç</u></strong></span></p>
                                                    @foreach (var item1 in x.Where(t => t.SIPARIS_NO == item.SIPARIS_NO))
                                                    {
                                                        if (item1.URETIM_ORANI != null)
                                                        {
                                                            teslimat = @String.Format("{0:0}", item1.URETIM_ORANI * 100);
                                                            start = int.Parse(teslimat);
                                                            end = 100 - start;

                                                            <p class="meter" id="meter" style="height:18.36px;">
                                                                <span style="width:@start%;"><span class="progress" id="progress-uretim"><span style="margin-bottom:10px;text-align:end;color:white">@start%</span></span></span>

                                                            </p>




                                                        }
                                                        else
                                                        {

                                                            <p class="text-end"><span>-</span></p>
                                                        }




                                                    }
                                                    <br />



                                                </td>






                                            </tr>
                                            i++;
                                        }




                                    </tbody>
                                    @{
                                        ViewBag.AltKalem = null;
                                        ViewBag.UstKalem = null;
                                        ViewBag.FilterPlasiyer = null;
                                        ViewBag.FilterTeslim = null;
                                        ViewBag.FilterDoviz = null;
                                        ViewBag.FilterUretilecekmi = null;
                                    }
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!--/ Total Revenue -->
        </div>


    </div>


    <script type="text/javascript" src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script type="text/javascript" src="/assets/vendor/libs/popper/popper.js"></script>
    <script type="text/javascript" src="/assets/vendor/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script type="text/javascript" src="/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script type="text/javascript" src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script type="text/javascript" src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script type="text/javascript" src="/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->


    <script type="text/javascript" async defer src="/Scripts/buttons.js"></script>
    <script type="text/javascript" src="/Scripts/boxicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                placeholder: "Teslim Yeri"

            });
            $('.js-example-basic-multiple-plasiyer').select2({
                placeholder: "Plasiyer Adı"

            });
            $('.js-example-basic-multiple-doviz').select2({
                placeholder: "Döviz Tipi"

            });
        });
    </script>

    <script>
        document.body.style.zoom = "100%";
    </script>

    <script>
        function refreshtable() {

            document.getElementById("process").style.display = "none";
        }
        $(function () {

            $("#btnsubmit").click(function () {
                if (document.getElementById("dovizswitch").checked) {
                    document.getElementById("dovizswitch").checked = false;
                }
                document.getElementById("process").style.display = "flex";
                var formData = new FormData();
                if ($("#TESLIM_YERI").val() != "") {

                    formData.append("TESLIM_YERI", $("#TESLIM_YERI").val());

                }

                if ($("#PLASIYER_ADI").val() != "") {
                    formData.append("PLASIYER_ADI", $("#PLASIYER_ADI").val());
                }

                if ($("#CARI_DOVIZ_TIPI").val() != "") {
                    formData.append("CARI_DOVIZ_TIPI", $("#CARI_DOVIZ_TIPI").val());
                }

                if ($("#flexSwitchCheckChecked1").val() != "") {
                    formData.append("URETILECEKMI", $("#flexSwitchCheckChecked1").val());
                }
                if ($("#BASLANGIC_TARIH").val() != "") {
                    formData.append("BASLANGIC_TARIH", $("#BASLANGIC_TARIH").val());
                }
                if ($("#BITIS_TARIH").val() != "") {
                    formData.append("BITIS_TARIH", $("#BITIS_TARIH").val());
                }
                if ($("#SSIP_CHECK").val() != "") {
                    formData.append("SSIP_CHECK", $("#SSIP_CHECK").val());
                }



                $.ajax({
                    url: "/Satis/Filter",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        $("#refresh").load(" #refresh > *", function () {
                            document.getElementById("process").style.display = "none";
                            $("#refresh1").load(" #refresh1 > *");
                        })




                    },
                    complete: function (response) {

                    }
                });

            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('input').keyup(function () {
                this.value = this.value.toLocaleUpperCase();
            });
        });
        $("#click").on("click", function () {

            var value = $("#search").val();

            if (value.length >= 3) {
                document.getElementById("refresh1").style.display = "none";
                for (let i = 0; i < document.getElementsByClassName('toggle').length; i++) {
                    document.getElementsByClassName('toggle')[i].style.display = "none";

                }

                $("td").closest(".searchable").hide()
                $("td:contains('" + value.toUpperCase() + "')").each(function (index) {
                    console.log(index)
                    const parent = $(this).closest(".searchable")
                    const rowspan = $(this).attr("rowspan")
                    console.log(rowspan)
                    if (rowspan != undefined) {
                        var current = parent
                        for (var i = 0; i < rowspan; i++) {
                            console.log(current.text())
                            current.show()
                            current = current.next()
                        }
                    }
                    else {
                        parent.show()
                    }
                })
            } else {
                $("td").closest(".searchable").show()
            }

            if (value.length == 0) {
                document.getElementById("refresh1").style.display = "flex";
            }





        });

        $(document).keypress(function (e) {
            if ((e.keyCode || e.which) == 13) {
                // Enter key pressed
                $('#click').trigger('click');
            }
        });

        function close() {
            @{Session["Filter"] = null;}
        }


    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        function myUpdateFunction() {
            var s = "submitbutton";
            Swal.fire({
                title: 'Mail göndermek istediğinize emin misiniz?',
                icon: 'question',
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Evet',
                cancelButtonText: 'Hayır',
                confirmButtonColor: '#03c3ec',
                confirmButtonBorderColor: '#03c3ec',
                cancelButtonColor: '#ff3e1d',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    document.getElementById(s).click();
                }
            })
        }
    </script>

</body>
</html>

