
@{

    Layout = "~/Views/Shared/_Layout_common.cshtml";
    //Layout = "~/Views/Shared/_Layout _yonetim_stok.cshtml";
}



<link href="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="~/assets/vendor/css/cssprogress.min.css" rel="stylesheet" />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>

    .card-view {
        border-bottom: 1px dashed gray;
        margin-top: 2px;
    }

    .card-view-value {
        margin-left: 5px;
        white-space: normal;
    }

    .card-view-title {
        min-width: 40% !important;
    }

    .select2-container {
        width: 100%;
    }

    .search {
        width: 100%;
    }

    #filter {
        width: 98%;
    }

    .menu1 {
        display: none;
    }

    tr > th:nth-child(2), tr > td:nth-child(2) {
        position: sticky;
        left: 0;
        background: white;
    }

    .no, .detail-view {
        --bs-table-bg: white;
        --bs-table-accent-bg: white;
        --bs-table-striped-color: white;
        --bs-table-striped-bg: white;
        --bs-table-active-color: white;
        --bs-table-active-bg: white;
        --bs-table-hover-color: white;
        --bs-table-hover-bg: white;
        width: 100%;
        margin-bottom: 1rem;
        color: #697a8d;
        vertical-align: middle;
        border-color: #d9dee3;
    }


    @@media screen and (max-width: 600px) {
        input {
            width: 100% !important;
        }

        .select2 {
            width: 100% !important;
        }

        .menu1 {
            display: inline-flex;
        }

        .menu2 {
            display: none;
        }
        /* .btn-group {
            display: none;
        }*/
    }
</style>
<style>
    .heart {
        animation: heartbeat 1s infinite alternate;
    }

    @@keyframes heartbeat {
        from {
            opacity: 0.3;
            transform: scale(0.32);
        }

        to {
            opacity: 1;
            transform: scale(0.40);
        }
    }

    .centercontent {
        position: absolute;
        max-width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }


    .icon-info-sign:hover {
        opacity: .8;
        cursor: pointer;
    }

    .detail-view td {
        padding: 3px;
    }

    .swal2-container {
        z-index: 10000;
    }

    i:hover {
        color: #0d5c69 !important;
    }

    .i-disabled,
    .i-disabled[disabled] {
        opacity: .4;
        cursor: default !important;
        pointer-events: none;
    }
</style>
<link href="~/assets/vendor/css/Chart.css" rel="stylesheet" />
<div class="container-fluid d-flex h-100">

    <div class="card mx-auto" style="font-size:12px">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="avatar avatar-online float-end mb-0" data-bs-toggle="dropdown">
                        @{
                            string s = Request.Cookies["Id"].Value + ".png?" + DateTime.Now.Ticks.ToString();
                        }
                        <object data="/assets/img/avatars/@s" type="image/png" class="w-px-40 h-auto rounded-circle">
                            <img src="/assets/img/avatars/7.png" class="w-px-40 h-auto rounded-circle">
                        </object>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href='@Url.Action("Index","Profil")'>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            <object data="/assets/img/avatars/@s" type="image/png" class="w-px-40 h-auto rounded-circle">
                                                <img src="/assets/img/avatars/7.png" class="w-px-40 h-auto rounded-circle">
                                            </object>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        @if (@Request.Cookies["Name"] != null)
                                        {
                                            <span class="fw-semibold d-block">@Request.Cookies["Name"].Value</span>
                                            <small class="text-muted">Yetki: @Request.Cookies["RoleName"].Value</small>
                                        }
                                        else
                                        {
                                            <span class="fw-semibold d-block">Test</span>
                                            <small class="text-muted">Yetki: Test</small>
                                        }

                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" class="dropdown-item" data-bs-toggle="modal"
                               data-bs-target="#cikis">
                                <i class="bx bx-power-off me-2"></i>
                                <span class="align-middle">Oturumu Kapat</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>



        </div>






        <div class="card-body">
            <div class="centercontent" id="content" style="display:unset">
                <div class="heart"><img id="progress" src="~/images/novasaydam.png" style="max-width:15vw" /></div>
            </div>
            <div>
                <div id="toolbar">
                    <form id="form1">
                        <div class="row">
                            <div class="col">
                                <select id="filter" multiple="multiple" name="filterAlgorithm" style="width: 15vw">
                                </select>
                            </div>
                            <div class="col">
                                <select id="plasiyer" multiple="multiple" name="plasiyerAlgorithm" style="width: 15vw">
                                </select>
                            </div>
                            <div class="col">
                                <select id="dovtip" multiple="multiple" name="dovAlgorithm" style="width: 15vw">
                                </select>
                            </div>
                        </div>
                    </form>




                </div>

                <div class="row mt-1" onchange="datefilter()">

                    <div class="col-sm">
                        <label for="baslagictarihi">Başlagıç Tarihi:</label>
                        <input class="form-control" style="width: 15vw;height:32px" type="date" id="baslangictarihi" name="BASLANGIC_TARIH" value=" " placeholder="Başlangıç Tarihi">
                    </div>
                    <div class="col-sm">
                        <label for="bitistarihi">Bitiş Tarihi:</label>
                        <input class="form-control" style="width: 15vw;height:32px" type="date" id="bitistarihi" name="BASLANGIC_TARIH" value=" " placeholder="Bitiş Tarihi">
                    </div>
                    <div class="col">
                        <button onclick="clearfilter()" class="btn btn-secondary btn-sm mt-3"><i class="bx bxs-trash"></i></button>
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>

                </div>
                <table id="table"
                       class="table table-striped"
                       data-show-fullscreen="true"
                       data-buttons-order="['paginationSwitch', 'columns', 'filterTable']"
                       data-toggle="table"
                       data-toolbar="#toolbar"
                       data-show-export="false"
                       data-export-data-type="all"
                       data-export-types="['excel', 'pdf']"
                       data-pagination="false"
                       data-search="true"
                       data-show-columns="true"
                       data-show-columns-toggle-all="true"
                       data-locale="tr-TR"
                       data-filter-control="true"
                       data-filter-control-multiple-search="true"
                       data-loading-template="loadingTemplate"
                       data-mobile-responsive="true"
                       data-show-footer="false"
                       data-detail-view-by-click="true"
                       data-height="680"
                       data-detail-formatter="detailFormatter"
                       data-detail-view="true"
                       data-fixed-columns="true"
                       data-fixed-number="0"
                       data-trim-on-search="false">
                    <thead>
                        <tr id="tst">
                            <th data-field="SIPARIS_NO" data-sortable="true" data-halign="center" data-formatter="sipnoFormatter">Sipariş No</th>
                            <th data-field="TARIH" data-sortable="true" data-halign="center" data-formatter="tarihFormatter">Tarih</th>
                            <th data-field="CARI_ISIM" data-sortable="true" data-halign="center" data-align="center">Cari İsim</th>
                            <th data-field="DOV_TIP" data-sortable="true" data-halign="center" data-align="center">Hesap Türü</th>
                            <th data-field="TESLIM_YERI" data-sortable="true" data-halign="center" data-align="center">Teslim Yeri</th>
                            <th data-field="ACIKLAMA" data-sortable="true" data-halign="center">Açıklama</th>
                            <th data-field="PLASIYER_ADI" data-sortable="true" data-halign="center" data-align="center">Plasiyer Adı</th>
                            <th data-halign="center" data-align="center" data-formatter="islemFormatter">İşlem</th>
                        </tr>
                    </thead>
                </table>

            </div>

        </div>

    </div>
</div>
<script>
    if ($(window).width() < 600) {
        $("#divPartial2").show();
        document.getElementById("sevkiyat").className = "menu-item open active";
        document.getElementById("mussiparisrap").className = "menu-item active";
    }
    else {
        $("#divPartial").show();

        document.getElementById("sevkiyat1").className = "nav__link active";
        document.getElementById("mussiparisrap1").className = "nav__dropdown-item active";
    }


    var tumliste2 = null;
    var tumliste = null;
    var detayli = null;
    var teslimfilter = [];
    var plasiyerFilter = [];
    var dovFilter = [];
    function datefilter() {
        var baslangic = $('#baslangictarihi').val()
        var bitis = $('#bitistarihi').val()

        $.getJSON('http://192.168.2.13:83/api/detaysizsip', function (data) {

            if ((baslangic != null && baslangic != "") && (bitis != null && bitis != "")) {
                var d = data.filter(x => new Date(x.TARIH.split("T")[0]) <= new Date(bitis) && new Date(x.TARIH.split("T")[0]) >= new Date(baslangic));
            } else if ((baslangic != null && baslangic != "") || (bitis != null && bitis != "")) {

                if (baslangic != null && baslangic != "") {


                    var d = data.filter(x => new Date(x.TARIH.split("T")[0]) >= new Date(baslangic));

                }
                if (bitis != null && bitis != "") {
                    var d = data.filter(x => new Date(x.TARIH.split("T")[0]) <= new Date(bitis));
                }
            }
            else {
                var d = data;
            }
            $('#table').bootstrapTable("destroy");
            $('#table').bootstrapTable({ data: d })
        })

    }
    $(document).ready(function () {

        $.getJSON("http://192.168.2.13:83/api/mongo/detayli", function (data) {
            detayli = data;
        }).done(function () {
            $('#table').bootstrapTable("refresh", {
                url: 'http://192.168.2.13:83/api/detaysizsip'
            })
            $('#progress').hide();
            for (let i = 0; i < detayli.length; i++) {
                if (!teslimfilter.includes(detayli[i].TESLIM_YERI)) {
                    teslimfilter.push(detayli[i].TESLIM_YERI)
                }
                if (!plasiyerFilter.includes(detayli[i].PLASIYER_ADI)) {
                    plasiyerFilter.push(detayli[i].PLASIYER_ADI)
                }
                if (!dovFilter.includes(detayli[i].DOV_TIP)) {
                    dovFilter.push(detayli[i].DOV_TIP)
                }
            }
            for (let i = 0; i < teslimfilter.length; i++) {
                var option = document.createElement("option");
                option.value = teslimfilter[i];
                option.innerHTML = teslimfilter[i];
                document.getElementById("filter").appendChild(option);
            }
            for (let i = 0; i < plasiyerFilter.length; i++) {
                var option = document.createElement("option");
                option.value = plasiyerFilter[i];
                option.innerHTML = plasiyerFilter[i];
                document.getElementById("plasiyer").appendChild(option);
            }
            for (let i = 0; i < dovFilter.length; i++) {
                var option = document.createElement("option");
                option.value = dovFilter[i];
                option.innerHTML = dovFilter[i];
                document.getElementById("dovtip").appendChild(option);
            }
            $('#filter').select2({ placeholder: "Teslim Yeri" });
            $('#plasiyer').select2({ placeholder: "Plasiyer Adı" });
            $('#dovtip').select2({ placeholder: "Döviz Tipi" });

        }).then(function () {
            document.querySelectorAll('input[type="search"]')[0].onkeyup = function () {
                document.querySelectorAll('input[type="search"]')[0].value = event.currentTarget.value.replaceAll("ı", "I").replaceAll("i", "İ").toUpperCase();
            };
        })


    })

    var type = 'fa'

    function loadingTemplate(message) {

        return '<div class="heart"><img src="/images/novasaydam.png" style="max-width:15vw"/></div>'
    }
    function sipnoFormatter(value, index, row) {
        var SeriNo = '<label hidden>' + value + '</label>';

        return SeriNo + value.substring(0, 1) + value.substring(3, 5) + "-" + value.substring(value.length - 5, value.length);
    }
    function tarihFormatter(value, index, row) {
        return new Date(value).toLocaleDateString();
    }

    function islemFormatter(value, index, row) {
        //return `<div onclick="SevkFormu(event, '${index.SIPARIS_NO}')" class="showmodal"><i class="bi bi-file-earmark-text-fill" style="color:#17a2b8;font-size:x-large;"></i></div>`;
        return `<div onclick="SevkFormu(event, '${index.SIPARIS_NO}')" class="showmodal"><i class="bi bi-file-earmark-text-fill" style="color:#203289;font-size:x-large;" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="left" data-bs-html="true" data-bs-original-title="<span>Sevk Formu Oluştur</span>"></i></div>`;
    }

    function detailFormatter(index, row) {

        var detail = detayli.filter(x => x.SIPARIS_NO == row.SIPARIS_NO);
        var t = "";
        var r = 0;
        var teslimoran = 0;

        var teslimoranssip = 0;

        var teslimoranuretim = 0;
        var msipbekleyen = 0;
        var msipteslim = 0;
        for (let i = 0; i < detail.length; i++) {
            r++;
            var brut_fiyat = 0
            var net_fiyat = 0
            var net_tutar = 0
            var bruttop = 0;
            var toplamkdv = 0;
            var toptevkifat = 0;
            var geneltop = 0;

            if (detail[i].DOV_TIP != "TRY") {
                brut_fiyat = detail[i].BRUT_FIYAT / detail[i].KUR;
                net_fiyat = detail[i].DOV_NET_FIYAT;
                net_tutar = detail[i].DOV_TUTAR;
                bruttop = detail[i].DOV_BRUTTUTAR.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                toplamkdv = detail[i].DOV_TOPLAM_KDV.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                toptevkifat = detail[i].DOV_TEVKIFAT.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                geneltop = detail[i].DOV_GENELTOPLAM.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
            }
            else {
                brut_fiyat = detail[i].BRUT_FIYAT;
                net_fiyat = detail[i].NET_FIYAT;
                net_tutar = detail[i].NET_TUTAR_KALEM;
                bruttop = detail[i].BRUTTUTAR.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                toplamkdv = detail[i].TOPLAM_KDV.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                toptevkifat = detail[i].TEVKIFAT.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                geneltop = detail[i].GENELTOPLAM.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
            }
            var ssiporangorsel = 0;

            var uretimorangorsel = 0;
            if (detail[i].TESLIMAT_ORANI_SSIP) {
                ssiporangorsel = Math.round(parseFloat(detail[i].TESLIMAT_ORANI_SSIP) * 100).toString();
            } else {
                ssiporangorsel = 0;

            }
            if (detail[i].URETIM_ORANI) {
                uretimorangorsel = Math.round(parseFloat(detail[i].URETIM_ORANI) * 100).toString();
            } else {
                uretimorangorsel = 0;

            }

            t = t + "<tr><th>" + r + "</th><td class'text-center'>" + detail[i].STOK_ADI + "</td><td class='text-nowrap text-center'>" + detail[i].MIKTAR.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + " " + detail[i].OLCU_BR1 + "</td><td class='text-nowrap text-center'>" + detail[i].MIKTAR2.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + " " + detail[i].OLCU_BR2 + "</td><td class='text-center' style='background-color:#f2faf5'>" + detail[i].TESLIM_MIKTARI.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</td><td class='text-center' style='background-color:#f2faf5'>" + detail[i].BAKIYE_MIKTARI.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</td><td class='text-nowrap text-center' style='background-color:#f2faf5'>" + "<p class='meter' id='meter-msip' style='height:18.36px;'><span style='width:" + Math.round(parseFloat(detail[i].TESLIMAT_ORANI) * 100).toString() + "%'><span class='progress' id='progress-msip'><span style='margin-bottom:10px;text-align:end;color:black'>" + Math.round(parseFloat(detail[i].TESLIMAT_ORANI) * 100).toString() + "%</span></span></span></p>" + "</td><td class='text-nowrap text-center' style='background-color:#fffaed'>" + (detail[i].TESLIM_MIKTARI_SSIP == "null" ? detail[i].TESLIM_MIKTARI_SSIP.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : "-") + "</td><td class='text-nowrap text-center' style='background-color:#fffaed'>" + (detail[i].BAKIYE_MIKTARI_SSIP == "null" ? detail[i].BAKIYE_MIKTARI_SSIP.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : "-") + "</td><td class='text-nowrap text-center' style='background-color:#fffaed'>" + "<p class='meter' id='meter-ssip' style='height:18.36px;'><span style='width:" + ssiporangorsel + "%'><span class='progress' id='progress-msip'><span style='margin-bottom:10px;text-align:end;color:black'>" + ssiporangorsel + "%</span></span></span></p>" + "</td><td class='text-nowrap text-center' style='background-color:#f5f6fc'>" + (detail[i].URETILEN_MIKTAR1 == "null" ? detail[i].URETILEN_MIKTAR1.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : "-") + "</td><td class='text-nowrap text-center' style='background-color:#f5f6fc'>" + (detail[i].URETILECEK_MIKTAR1 == "null" ? detail[i].URETILECEK_MIKTAR1.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : "-") + "</td><td class='text-nowrap text-center' style='background-color:#f5f6fc'>" + "<p class='meter' id='meter' style='height:18.36px;'><span style='width:" + uretimorangorsel + "%'><span class='progress' id='progress-uretim'><span style='margin-bottom:10px;text-align:end;color:white'>" + uretimorangorsel + "%" + "</td></tr>"
            msipbekleyen = msipbekleyen + detail[i].BAKIYE_MIKTARI;
            msipteslim = msipteslim + detail[i].TESLIM_MIKTARI;
            teslimoran = teslimoran + parseFloat(parseFloat(detail[i].TESLIMAT_ORANI) * 100);
            if (detail[i].TESLIMAT_ORANI_SSIP != 0 && detail[i].TESLIMAT_ORANI_SSIP != "null" && detail[i].TESLIMAT_ORANI_SSIP != null) {

                teslimoranssip = teslimoranssip + parseFloat
                    (parseFloat(detail[i].TESLIMAT_ORANI_SSIP) * 100);

            }
            if (detail[i].URETIM_ORANI != 0 && detail[i].URETIM_ORANI != "null" && detail[i].URETIM_ORANI != null) {

                teslimoranuretim = teslimoranuretim + parseFloat
                    (parseFloat(detail[i].URETIM_ORANI) * 100);

            }

        }

        var moran = Math.round(teslimoran) / r;

        var moranssip = Math.round(teslimoranssip) / r;

        var moranuretim = Math.round(teslimoranuretim) / r;


        var m = "<span class='top-0'><svg width='50px' viewBox='0 0 40 40' class='donut'><circle class='donut-hole' cx='20' cy='20' r='15.91549430918954' fill='#fff'></circle> <circle class='donut-ring' cx='20' cy='20' r='15.91549430918954' fill='transparent' stroke-width='3.5'></circle><circle class='donut-segment-msip' cx='20' cy='20' r='15.91549430918954' fill='transparent' stroke-width='3.5' stroke-dasharray='" + moran + " " + (100 - moran) + "' stroke-dashoffset='25'></circle><g class='donut-text'><text y='55%' transform='translate(0, 2)'><tspan x='50%' text-anchor='middle' class='donut-percent-msip' style='font-size:13px;font-weight:bold;font-stretch:condensed'>" + Math.round(moran) + "<tspan style='font-size: 10px; font-weight:normal'>%</tspan></tspan> </text></g></svg></span>";
        var n = "<span class='top-0'><svg width='50px' viewBox='0 0 40 40' class='donut'><circle class='donut-hole' cx='20' cy='20' r='15.91549430918954' fill='#fff'></circle> <circle class='donut-ring' cx='20' cy='20' r='15.91549430918954' fill='transparent' stroke-width='3.5'></circle><circle class='donut-segment-ssip' cx='20' cy='20' r='15.91549430918954' fill='transparent' stroke-width='3.5' stroke-dasharray='" + moranssip + " " + (100 - moranssip) + "' stroke-dashoffset='25'></circle><g class='donut-text'><text y='55%' transform='translate(0, 2)'><tspan x='50%' text-anchor='middle' class='donut-percent-ssip' style='font-size:13px;font-weight:bold;font-stretch:condensed'>" + Math.round(moranssip) + "<tspan style='font-size: 10px; font-weight:normal'>%</tspan></tspan> </text></g></svg></span>"
        var o = "<span class='top-0'><svg width='50px' viewBox='0 0 40 40' class='donut'><circle class='donut-hole' cx='20' cy='20' r='15.91549430918954' fill='#fff'></circle> <circle class='donut-ring' cx='20' cy='20' r='15.91549430918954' fill='transparent' stroke-width='3.5'></circle><circle class='donut-segment' cx='20' cy='20' r='15.91549430918954' fill='transparent' stroke-width='3.5' stroke-dasharray='" + moranuretim + " " + (100 - moranuretim) + "' stroke-dashoffset='25'></circle><g class='donut-text'><text y='55%' transform='translate(0, 2)'><tspan x='50%' text-anchor='middle' class='donut-percent' style='font-size:13px;font-weight:bold;font-stretch:condensed'>" + Math.round(moranuretim) + "<tspan style='font-size: 10px; font-weight:normal'>%</tspan></tspan> </text></g></svg></span>"

        return "<table class='table table-borderless'><thead><tr class'text-nowrap'><th class='text-nowrap'>Sıra No</th><th class='text-nowrap text-center' style='padding-left: 10px'>Stok Adı</th><th class='text-nowrap' style='padding-left: 10px'>Miktar 1</th><th class='text-nowrap' style='padding-left: 10px'>Miktar 2</th><th class='text-nowrap' style='padding-left: 10px;background-color:#f2faf5'>MSIP Teslim</th><th class='text-nowrap' style='padding-left: 10px;background-color:#f2faf5'>MSIP Bekleyen</th><th class='text-nowrap' style='padding-left: 10px;background-color:#f2faf5'>MSIP Süreç</th><th class='text-nowrap' style='padding-left: 10px;background-color:#fffaed'>SSIP Teslim</th><th class='text-nowrap' style='padding-left: 10px;background-color:#fffaed'>SSIP Bekleyen</th><th class='text-nowrap' style='padding-left: 10px;background-color:#fffaed'>SSIP Süreç</th><th class='text-nowrap' style='padding-left: 10px;background-color:#f5f6fc'>Üretilen</th><th class='text-nowrap' style='padding-left: 10px;background-color:#f5f6fc'>Üretim Bekleyen</th><th class='text-nowrap text-center' style='padding-left: 10px;background-color:#f5f6fc'>Üretim Süreç</th></tr></thead><tbody>" + t + "<tr><td class='p-0'>" + m + "</td><td></td><td></td><td  class='text-center'></td></td><td style='background-color:#f2faf5' class='text-center'><b><u>Toplam</u></b></td><td style='background-color:#f2faf5' class='text-center'><b><u>Toplam</u></b></td><td style='background-color:#f2faf5'></td></td><td colspan='3' style='background-color:#fffaed'></td><td colspan='3' style='background-color:#f5f6fc'></td></tr><tr><td class='p-0'>" + n + "</td><td></td><td class='text-nowrap'></td><td  class='text-center'></td><td style='background-color:#f2faf5' class='text-center'><b>" + msipteslim.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</b></td><td style='background-color:#f2faf5' class='text-center'><b>" + msipbekleyen.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + "</b></td><td style='background-color:#f2faf5'></td><td colspan='3' style='background-color:#fffaed'></td><td colspan='3' style='background-color:#f5f6fc'></td></tr><tr><td class='p-0'>" + o + "</td><td></td><td></td><td  class='text-center'></td></td><td style='background-color:#f2faf5' class='text-center'></b></td><td style='background-color:#f2faf5' class='text-center'></td><td style='background-color:#f2faf5'></td></td><td colspan='3' style='background-color:#fffaed'></td><td colspan='3' style='background-color:#f5f6fc'></td></tr></tbody></table>";
    }



    $('#toolbar').change(function (e) {
        var filterAlgorithm = $('#filter').val()
        var plasiyerAlgorithm = $('#plasiyer').val()
        var dovAlgorithm = $('#dovtip').val()
        $('#table').bootstrapTable('filterBy', {
            TESLIM_YERI: (filterAlgorithm.length > 0 ? filterAlgorithm : teslimfilter),
            PLASIYER_ADI: (plasiyerAlgorithm.length > 0 ? plasiyerAlgorithm : plasiyerFilter),
            DOV_TIP: (dovAlgorithm.length > 0 ? dovAlgorithm : dovFilter),
        })
    })


    function clearfilter() {
        $("#filter").val('').trigger('change');
        $("#plasiyer").val('').trigger('change');
        $("#dovtip").val('').trigger('change');
        $("#baslangictarihi").val('').trigger('change');
        $("#bitistarihi").val('').trigger('change');
    }
</script>


@Html.Partial("MusteriSiparisRaporuPartials/SevkFormu_Modal")
@Html.Partial("MusteriSiparisRaporuPartials/SevkFormu_Barkod_Modal")
@Html.Partial("MusteriSiparisRaporuPartials/SevkFormu_Belge_Modal")
@Html.Partial("MusteriSiparisRaporuPartials/SevkFormu_Seri_Modal")

@*Birden Fazla Modal*@
<script>
    Array.from(document.getElementsByClassName('showmodal')).forEach((e) => {
        e.addEventListener('click', function (element) {
            element.preventDefault();
            if (e.hasAttribute('data-show-modal')) {
                showModal(e.getAttribute('data-show-modal'));
            }
        });
    });
    function showModal(modal) {
        const mid = document.getElementById(modal);
        let myModal = new bootstrap.Modal(mid);
        myModal.show();
    }
    $(document).ready(function () {
        $(document).on('show.bs.modal', '.modal', function () {
            const zIndex = 1040 + 10 * $('.modal:visible').length;
            $(this).css('z-index', zIndex);
            setTimeout(() => $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack'));
        });
    });
</script>


@*Autocomplete*@

<script>
    function autocomplete(inp, arr) {
        var currentFocus;

        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value.trim();

            closeAllLists();
            if (!val)
            {
                $('#SERI_NO').val('');

                $("#MIKTAR").val(0);
                $("#OLCU_BR1").val('-');
                $("#MIKTAR2").val(0);
                $("#OLCU_BR2").val('-');

                $('#ACIK1').val('');
                $('#ACIK2').val('');
                $('#ACIK3').val('');
                $('#SERI_NO_3').val('');
                $('#SERI_NO_4').val('');

                SeciliBarkodVar = false;

                MiktarGirisKontrolu();

                $('#SeriNoListeButton').prop('disabled', false);

                return false;
            }
            currentFocus = -1;

            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");

            this.parentNode.appendChild(a);

            var itemNumber = 0;

            for (i = 0; i < arr.length; i++) {

                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase() && itemNumber < 5) {
                    b = document.createElement("DIV");

                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);

                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";

                    b.addEventListener("click", function (e) {
                        inp.value = this.getElementsByTagName("input")[0].value;

                        if (inp.value.trim().length !== 0) {
                            BarkodKontrol(inp.value);
                        }

                        closeAllLists();
                    });

                    itemNumber = itemNumber + 1;

                    a.appendChild(b);
                }
            }
        });

        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {

                currentFocus++;

                addActive(x);
            } else if (e.keyCode == 38) {
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }
</script>

<style>
    .autocomplete {
        position: relative;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
        height: auto;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>

<style>
    @@media (min-width: 768px) {
        .modal-xl {
            width: 90%;
            max-width: 1500px;
        }
    }

    @@media (max-width: 562px) {
        #SevkFormuTable {
            font-size: smaller;
        }

        .belge-bilgi {
            font-size: small;
        }
    }

    .fixed-table-toolbar .search {
        width: 100%;
    }

    .swal-icon img {
        width: 60px;
        height: 60px;
    }
</style>