<!DOCTYPE html>
<html lang="tr"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="\assets\"
      data-template="vertical-menu-template-free">
<head>
    <title>Nova | Ziyaret Planlama</title>
    <!-- Favicon -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/img/icons/brands/Nova_White.png" />
    <script src="~/Scripts/jquery-3.6.1.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" type="text/css" />
    <link href="\assets\boxicons-2.1.2\css\boxicons.css" rel="stylesheet" type="text/css" />
    <link href="\assets\boxicons-2.1.2\css\animations.css" rel="stylesheet" type="text/css" />
    <link href="\assets\boxicons-2.1.2\css\transformations.css" rel="stylesheet" type="text/css" />

    <!-- Core CSS -->
    <link rel="stylesheet" type="text/css" href="\assets\vendor\css\core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" type="text/css" href="\assets\vendor\css\theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" type="text/css" href="\assets\css\demo.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" type="text/css" href="\assets\vendor\libs\perfect-scrollbar\perfect-scrollbar.css" />

    <link rel="stylesheet" type="text/css" href="\assets\vendor\libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script type="text/javascript" src="\assets\vendor\js\helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script type="text/javascript" src="\assets\js\config.js"></script>
    <script src="/Scripts/jquery.validate.js" type='text/javascript'></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js" type='text/javascript'></script>
    <script src="~/fullcalendar-scheduler-6.0.1/dist/index.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/tr.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/tippy/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>



        .accordion-button {
            margin: 0;
            background-color: #D0E0E3;
        }

        .fc-button {
            background-color: #48483E !important;
            background-image: none;
        }

            .fc-button:hover {
                background: #6d6d65 !important;
            }

        .accordion-button:not(.collapsed) {
            color: #566a7f;
            background-color: #D0E0E3;
            box-shadow: inset 0 0 0 #d9dee3;
        }

        .fc-license-message {
            display: none;
        }




        span.deleteicon input {
            padding-right: 18px;
            box-sizing: border-box;
        }

        #external-events .fc-event .fc-event-main {
            position: relative;
            z-index: 2;
            padding: 2px 20px;
            background-color: #697FC2;
            border-radius: 0.375rem;
        }

        #external-events1 .fc-event .fc-event-main {
            position: relative;
            z-index: 2;
            padding: 2px 20px;
            background-color: #697FC2;
            border-radius: 0.375rem;
        }

        .fc-v-event {
            border: hidden;
        }

        #external-events .fc-event {
            cursor: move;
            margin: 3px 0;
        }

        #external-events1 .fc-event {
            cursor: move;
            margin: 3px 0;
        }

        .fc-event-bg-color {
            background-color: transparent;
        }

        .fc-event-main {
            padding: 0 5px;
        }

        #calendar-container {
            position: fixed;
            z-index: 1;
            margin-left: 200px;
        }

        #calendar {
            max-width: 1100px;
            margin: 1px auto;
        }

        #external-events {
            position: relative;
            z-index: 2;
            top: 20px;
            left: 20px;
            width: 250px;
            padding: 0;
            margin: 0;
            border-radius: 12.5px;
        }

        #external-events1 {
            position: relative;
            z-index: 2;
            top: 20px;
            left: 20px;
            width: 250px;
            padding: 0;
            border-radius: 12.5px;
            margin-left: 3vw;
        }

        #menu2 {
            display: none;
        }

        .fc-theme-standard {
            border-color: red !important;
        }

        @@media screen and (max-width: 600px) {
            .fc-button-group {
                margin-bottom: 5px;
            }

            #external-events1 {
                position: relative;
                z-index: 2;
                top: 1px;
                left: 0px;
                width: 250px;
                padding: 0;
                border-radius: 12.5px;
                margin-left: 5vw;
            }

            #menu1 {
                display: none;
            }

            #menu2 {
                display: unset;
            }

            #example1 caption {
                font-size: 1.3em;
            }

            #example1 thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
                display: none;
            }

            #example1 tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            #example1 td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

                #example1 td::before {
                    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                #example1 td:last-child {
                    border-bottom: 0;
                }
        }

        @@media screen and (min-width: 600px) and (max-width:1850px) {
            .fc-button-group {
                margin-bottom: 5px;
            }

            #external-events1 {
                position: relative;
                z-index: 2;
                top: 1px;
                left: 50px;
                width: 250px;
                padding: 0;
                border-radius: 12.5px;
                margin-left: 25vw;
            }

            #menu1 {
                display: none;
            }

            #menu2 {
                display: unset;
            }

            #example1 caption {
                font-size: 1.3em;
            }

            #example1 thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
                display: none;
            }

            #example1 tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            #example1 td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

                #example1 td::before {
                    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                #example1 td:last-child {
                    border-bottom: 0;
                }
        }
    </style>
    <script>

        var calendar = null
        var drag = null;
        var drag1 = null;
        var gerceklesentarih = null;

        document.addEventListener('DOMContentLoaded', function () {
            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendar.Draggable;

            var containerEl = document.getElementById('external-events');
            var containerEl1 = document.getElementById('external-events1');
            var calendarEl = document.getElementById('calendar');
            var checkbox = document.getElementById('drop-remove');

            // initialize the external events
            // -----------------------------------------------------------------

            drag=new Draggable(containerEl, {
                itemSelector: '.fc-event',
                eventData: function (eventEl) {
                    var j_selector = jQuery(eventEl);
                    return {
                        id: j_selector.data('id'),
                        title: eventEl.innerText
                    };
                }
            });
            drag1 = new Draggable(containerEl1, {
                itemSelector: '.fc-event',
                eventData: function (eventEl) {
                    var j_selector = jQuery(eventEl);
                    return {
                        id: j_selector.data('id'),
                        title: eventEl.innerText
                    };
                }
            });

            // initialize the calendar
            // -----------------------------------------------------------------

            calendar = new Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                locale: "tr",
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false
                },
                eventReceive: function (info) {

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RandevuEkleGuncelle", "Satis")',
                        data: JSON.stringify({ "INCKEY": "", "MUSTERI_ID": parseInt(info.event.id), "RANDEVU_NOTU": "", "PLANLANAN_TARIH": (info.event.start).toLocaleString("tr-TR") }),
                        contentType: "application/json",
                        success: function () {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'center',
                                showConfirmButton: false,
                                timer: 1000,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            })
                            refreshtable();
                            Toast.fire({
                                icon: 'success',
                                title: 'Ziyaret başarıyla kaydedildi!'
                            });
                            info.revert();
                        },
                        error: function () {

                        },
                        dataType: 'json'
                    })



                },
                eventDrop: function (date) {
                    var s = null;
                    var d = (date.event.start).toLocaleString("tr-TR");
                    if (date.event.backgroundColor == "#CC0000") {
                        var txt = "Gerçekleşen ziyaret planını " + d.split(' ')[0] + " " + (d.split(' ')[1].split(':').slice(0, 2)).toString().replace(',', ':') + " olarak güncellemek istediğinize emin misiniz?";
                    } else {
                        var txt = "Ziyaret planını " + d.split(' ')[0] + " " + (d.split(' ')[1].split(':').slice(0, 2)).toString().replace(',', ':') + " olarak güncellemek istediğinize emin misiniz?";
                    }

                    Swal.fire({
                        title: 'Onay',
                        icon: 'question',
                        confirmButtonColor: '#3085d6',
                        denyButtonColor: '#d33',
                        text: txt,
                        showDenyButton: true,
                        confirmButtonText: 'Güncelle',
                        denyButtonText: `Güncelleme!`,
                    }).then((result) => {
                        var url = "http://192.168.2.13:83/api/musteri/randevu/" + parseInt(date.event.extendedProps.inckey);

                        $.get(url, function (data) {
                            var veri = data;
                            if (veri[0].GERCEKLESEN_TARIH == null) {
                                s = JSON.stringify({ "INCKEY": parseInt(date.event.extendedProps.inckey), "MUSTERI_ID": parseInt(date.event.id), "RANDEVU_NOTU": veri[0].RANDEVU_NOTU, "PLANLANAN_TARIH": (date.event.start).toLocaleString("tr-TR") });
                            } else {
                                s = JSON.stringify({ "INCKEY": parseInt(date.event.extendedProps.inckey), "MUSTERI_ID": parseInt(date.event.id), "RANDEVU_NOTU": veri[0].RANDEVU_NOTU, "GERCEKLESEN_TARIH": (date.event.start).toLocaleString("tr-TR"), "PLANLANAN_TARIH": veri[0].PLANLANAN_TARIH });
                            }
                        }).done(function () {

                            if (result.isConfirmed) {
                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("RandevuEkleGuncelle", "Satis")',
                                    data: s,
                                    contentType: "application/json",
                                    success: function () {
                                        const Toast = Swal.mixin({
                                            toast: true,
                                            position: 'center',
                                            showConfirmButton: false,
                                            timer: 1000,
                                            didOpen: (toast) => {
                                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                                            }
                                        })
                                        refreshtable();
                                        Toast.fire({
                                            icon: 'success',
                                            title: 'Ziyaret başarıyla değiştirildi!'
                                        });
                                    },
                                    error: function () {

                                    },
                                    dataType: 'json'
                                })
                            } else if (result.isDenied) {
                                date.revert();
                                Swal.fire('Değişiklik kaydedilmedi', '', 'info')
                            } else {
                                date.revert();
                            }
                        })


                    })

                },
                eventClick: function (info) {



                        getRandevuAsync().then(function (data) {

                            var d = JSON.parse(data).filter(x => x.INCKEY == info.event.extendedProps.inckey);
                            $('#datepickermodal').modal('show');
                            $('#copycol').hide();

                            $('#planlanan').val(d[0].PLANLANAN_TARIH);
                            $('#planlanan').prop("readonly", true);
                            $('#planlanan').prop("disabled", true);
                            $('#inckey').val(d[0].INCKEY);
                            $('#musid').val(d[0].MUSTERI_ID);
                            $('#musadi').text(info.event.title);
                            if (d[0].RANDEVU_NOTU != null) {
                                $('#not').val(d[0].RANDEVU_NOTU);
                            } else {
                                $('#not').val(null);
                            }
                            if (d[0].GERCEKLESEN_TARIH != null) {
                                gerceklesentarih = d[0].GERCEKLESEN_TARIH;
                                $('#gercekkolon').show();
                                $('#gercekth').show();
                                $('#complatebutton').hide();

                                $('#gerceklesen').val(d[0].GERCEKLESEN_TARIH);
                            } else {

                                $('#gercekkolon').hide();
                                $('#gercekth').hide();
                                $('#complatebutton').show();
                            }
                        })




                        //info.event.remove();




                },
                eventResize: function (info) {
                    info.revert();
                },
                dateClick: function (info) {
                    calendar.changeView('timeGridDay', info.dateStr);
                },
                eventDidMount: function (info) {
                    if (info.event.extendedProps.description != null && info.event.extendedProps.description !="" ) {
                        $(info.el).tooltip({
                            title: info.event.extendedProps.description,
                            placement: "top",
                            trigger: "hover",
                            container: "body"
                        });
                    } else {
                        $(info.el).tooltip({
                            title: "Not girilmemiş.",
                            placement: "top",
                            trigger: "hover",
                            container: "body"
                        });
                    }
                    
                },
                themeSystem: 'bootstrap5',
                buttonText: {
                    today: 'Bugün',
                    month: 'Ay',
                    week: 'Hafta',
                    day: 'Gün',
                    list: 'Liste',
                    listMonth: 'Aylık Liste',
                    listYear: 'Yıllık Liste',
                    listWeek: 'Haftalık Liste',
                    listDay: 'Günlük Liste'
                },
            })






        });

    </script>



</head>
<body>

    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="@Url.Action("Index", "Home")" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <img src="/Content/Images/efece_logo.png" alt class="w-px-200 h-auto" />
                        </span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- ANASAYFA -->
                    @{
                        <li class="menu-item">
                            <a href="@Url.Action("Index", "Home")" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                <div data-i18n="Analytics">Anasayfa</div>
                            </a>
                        </li>
                        <li class="menu-header small text-uppercase">
                            <span class="menu-header-text">Modüller</span>
                        </li>
                        <!-- Layouts -->
                        <li class="menu-item open active" style="display: @ViewBag.DisplaySatis">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-dollar"></i>
                                <div data-i18n="Layouts">Satış</div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-item" style="display: @ViewBag.DisplayStok">
                                    <a href="@Url.Action("Index", "Satis")" class="menu-link">
                                        <div data-i18n="Without menu">Stok</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="display: @ViewBag.DisplaySiparis">
                                    <a href="@Url.Action("DetayliSiparis", "Satis")" class="menu-link">
                                        <div data-i18n="Without menu">Detaylı Sipariş Raporu</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="font-weight:normal;display: @ViewBag.DisplayFiyatliStok">
                                    <a href="@Url.Action("HammaddeListesi", "Satis")" class="menu-link">
                                        <div data-i18n="Without menu">*Fabrika Stok</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="font-weight:normal;display: @ViewBag.DisplayFiyatsizStok">
                                    <a href="@Url.Action("FiyatsizHammaddeListesi", "Satis")" class="menu-link">
                                        <div data-i18n="Without menu">Fabrika Stok</div>
                                    </a>
                                </li>
                                
                                <li class="menu-item active" style="font-weight:normal;display: @ViewBag.DisplayZiyaretPlani">
                                    <a href="@Url.Action("ZiyaretPlanlari", "Satis")" class="menu-link">
                                        <div data-i18n="Without menu">Müşteri İlişkileri Yönetimi</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item" style="display: @ViewBag.DisplaySevkiyat">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bxs-truck"></i>
                                <div data-i18n="Layouts">Sevkiyat</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item" style="display: @ViewBag.DisplaySiparisRaporu">
                                    <a href="@Url.Action("SiparisRaporu", "Sevkiyat")" class="menu-link">
                                        <div data-i18n="Without menu">Müşteri Siparişi Raporu</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="display: @ViewBag.DisplaySaticiSiparisRaporu">
                                    <a href="@Url.Action("SaticiSiparisRaporu", "Sevkiyat")" class="menu-link">
                                        <div data-i18n="Without menu">Satıcı Siparişi Raporu</div>
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li class="menu-item" style="display:@ViewBag.DisplayUretim">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bxs-hard-hat"></i>
                                <div data-i18n="Account Settings">Üretim</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item" style="display: @ViewBag.DisplayAnlikUretim">
                                    <a href="@Url.Action("Index", "Uretim")" class="menu-link">
                                        <div data-i18n="Without menu">Anlık Üretim</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="display: @ViewBag.DisplayIsEmriKayit">
                                    <a href="@Url.Action("Index", "IsEmri")" class="menu-link">
                                        <div data-i18n="Without menu">İş Emri Giriş</div>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="menu-item" style="display: @ViewBag.DisplaySatinAlma">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-credit-card"></i>
                                <div data-i18n="Authentications">Satın Alma</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item" style="display: @ViewBag.DisplaySatinAlmaRaporu">
                                    <a href="@Url.Action("SatinAlmaRaporu", "SatinAlma")" class="menu-link">
                                        <div data-i18n="Without menu">Detaylı Sipariş Raporu</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item" style="display: @ViewBag.DisplayFinans">
                            <a href="javascript:void(0);" class="menu-link menu-toggle" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bx-laptop bx-flashing' ></i> <span>Modül üzerinde çalışılmaktadır</span>">
                                <i class="menu-icon tf-icons bx bx-trending-up"></i>
                                <div data-i18n="Misc">Finans</div>
                            </a>
                        </li>
                        <li class="menu-item" style="display: @ViewBag.DisplayMuhasebe">
                            <a href="javascript:void(0);" class="menu-link menu-toggle" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bx-laptop bx-flashing' ></i> <span>Modül üzerinde çalışılmaktadır</span>">
                                <i class="menu-icon tf-icons bx bx-calculator"></i>
                                <div data-i18n="Misc">Muhasebe</div>
                            </a>
                        </li>
                        <li class="menu-item" style="display: @ViewBag.Display4">

                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-male-female"></i>
                                <div data-i18n="Misc">İnsan Kaynakları</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item" style="display: @ViewBag.Display5">
                                    <a href="@Url.Action("PersonelBilgi", "IK")" class="menu-link">
                                        <div data-i18n="Without menu">Personel Bilgi Girişi</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="display: @ViewBag.Display6">
                                    <a href="@Url.Action("PersonelBilgiYonetim", "IK")" class="menu-link">
                                        <div data-i18n="Without menu">Personel Bilgi Yönetimi</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="display: @ViewBag.Sube">
                                    <a href="@Url.Action("PersonelSubeYonetim", "IK")" class="menu-link">
                                        <div data-i18n="Without menu">Şube Bazında Personel Bilgi Yönetimi</div>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="menu-item" style="display: @ViewBag.DisplayYonetim">
                            <a href="javascript:void(0);" class="menu-link menu-toggle" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bx-laptop bx-flashing' ></i> <span>Modül üzerinde çalışılmaktadır</span>">
                                <i class="menu-icon tf-icons bx bx-sitemap"></i>
                                <div data-i18n="Misc">Yönetim</div>
                            </a>
                        </li>
                        <li class="menu-item" style="display: @ViewBag.Display">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bxs-report"></i>
                                <div data-i18n="Misc">Yönetim Paneli</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item" style="display: @ViewBag.Display1">
                                    <a href="@Url.Action("KullaniciAyar", "YonetimPaneli")" class="menu-link">
                                        <div data-i18n="Without menu">Kullanıcı Ayarları</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="display: @ViewBag.Display2">
                                    <a href="@Url.Action("YetkiAyar", "YonetimPaneli")" class="menu-link">
                                        <div data-i18n="Without navbar">Kullanıcı Yetkileri</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="display: @ViewBag.Display3">
                                    <a href="#" class="menu-link">
                                        <div data-i18n="Without navbar">Kullanıcı İstatistikleri</div>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link" data-i18n="Misc" data-bs-toggle="modal"
                               data-bs-target="#cikis">
                                <i class="menu-icon tf-icons bx bx-lock"></i>

                                Çıkış

                            </a>
                        </li>

                    }



                </ul>

            </aside>

            <div class="layout-page">
                <nav class="layout-navbar layout-navbar-ana container-xxl navbar navbar-expand-xl align-items-center" id="layout-navbar">

                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                      
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            @{
                                string s = Request.Cookies["Id"].Value.ToString() + ".png?" + DateTime.Now.Ticks.ToString();
                            }

                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <object data="/assets/img/avatars/@s" type="image/png" class="w-px-40 h-auto rounded-circle">
                                            <img src="/assets/img/avatars/7.png" class="w-px-40 h-auto ">
                                        </object>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="/Profil/Index">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <object data="/assets/img/avatars/@s" type="image/png" class="w-px-40 h-auto rounded-circle">
                                                            <img src="/assets/img/avatars/7.png" class="w-px-40 h-auto ">
                                                        </object>
                                                    </div>
                                                </div>
                                                @{var fullname = "";
                                                    if (Session["Name"] == null)
                                                    {
                                                        fullname = Request.Cookies["Name"].Value;
                                                    }
                                                    else
                                                    {
                                                        fullname = Session["Name"].ToString();
                                                    }
                                                }
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">@fullname</span>
                                                    <small class="text-muted">Yetki: @Request.Cookies["RoleName"].Value.ToString()</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#cikis">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Oturumu Kapat</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>

                <div id="cikis" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">ÇIKIŞ</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-body">Çıkış yapmak istediğinize emin misiniz?</h5>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("LogOff", "Login")'">EVET</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">HAYIR</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="passwordchange" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Şifre Değişiklik Formu</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>


                        </div>
                    </div>
                </div>
                @RenderBody()
                <!-- / Content -->
                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        <div style="padding-left:40%">
                            ©
                            <script>document.write(new Date().getFullYear());</script>
                            , designed by
                            <a href="#" target="_blank" class="footer-link fw-bolder"> <img src="/assets/img/icons/brands/Nova.png" height="auto" width="3%" class="mb-1" /> NOVA</a>
                        </div>
                    </div>
                </footer>
                <!-- / Footer -->


            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>






    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
   

    <script type="text/javascript" src="/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Main JS -->
    <script type="text/javascript" src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script type="text/javascript" src="/assets/js/dashboards-analytics.js"></script>



    @RenderSection("scripts", required: false)
</body>
</html>
