
<!DOCTYPE html>
<html style="overflow:hidden">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova | Efece Galvaniz</title>

    <link rel="icon" type="image/x-icon" href="/assets/img/icons/brands/Nova_White.png" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link href="\assets\boxicons\css\animations.css" rel="stylesheet" type="text/css" />
    <link href="\assets\boxicons\css\transformations.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="\assets\vendor\css\core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" type="text/css" href="\assets\vendor\css\theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" type="text/css" href="\assets\css\demo.css" />
    @*<link rel="stylesheet" type="text/css" href="\assets\vendor\libs\perfect-scrollbar\perfect-scrollbar.css" />
        <link rel="stylesheet" type="text/css" href="\assets\vendor\libs/apex-charts/apex-charts.css" />*@
    <link href="~/Scripts/floating-labels.min.css" rel="stylesheet" />
    <link href="~/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/Scripts/select2.css" rel="stylesheet" />
    <link href="~/assets/vendor/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/css/Chart.css" rel="stylesheet" />

    <link href="~/assets/css/printjs.min.css" rel="stylesheet" />
    <script src="~/assets/js/printjs.min.js"></script>
    <link href="~/Scripts/bootstrap-table.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.6.1.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/tippy/popper.min.js"></script>
    <link href="~/assets/vendor/css/cssprogress.min.css" rel="stylesheet" />
    <script type="text/javascript" src="\assets\vendor\js\helpers.js"></script>
    <script type="text/javascript" src="\assets\js\config.js"></script>
    <script src="/Scripts/jquery.validate.js" type='text/javascript'></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js" type='text/javascript'></script>
    <script src="~/assets/sweetalert/sweetalert.js"></script>
    <script src="~/Scripts/fuse.js"></script>
    <style>
        .bootstrap-table .table > tbody > tr.group-by.expanded,
        .bootstrap-table .table > tbody > tr.group-by.collapsed {
            cursor: pointer;
        }

        .bootstrap-table .table > tbody > tr.hidden {
            display: none;
        }

        .ph-item {
            background-color: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 2px;
            direction: ltr;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
            overflow: hidden;
            padding: 30px 15px 15px;
            position: relative
        }

            .ph-item, .ph-item *, .ph-item :after, .ph-item :before {
                box-sizing: border-box
            }

                .ph-item:before {
                    -webkit-animation: ph-animation .8s linear infinite;
                    animation: ph-animation .8s linear infinite;
                    background: linear-gradient(90deg,hsla(0,0%,100%,0) 46%,hsla(0,0%,100%,.35) 50%,hsla(0,0%,100%,0) 54%) 50% 50%;
                    bottom: 0;
                    content: " ";
                    left: 50%;
                    margin-left: -250%;
                    pointer-events: none;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 500%;
                    z-index: 1
                }

                .ph-item > * {
                    display: flex;
                    flex: 1 1 auto;
                    flex-flow: column;
                    margin-bottom: 15px;
                    padding-left: 15px;
                    padding-right: 15px
                }

        .ph-row {
            display: flex;
            flex-wrap: wrap;
            margin-top: -7.5px
        }

            .ph-row div {
                background-color: #ced4da;
                height: 10px;
                margin-top: 7.5px
            }

            .ph-row .big, .ph-row.big div {
                height: 20px
            }

            .ph-row .empty {
                background-color: hsla(0,0%,100%,0)
            }

        .ph-col-2 {
            flex: 0 0 16.6666666667%
        }

        .ph-col-4 {
            flex: 0 0 33.3333333333%
        }

        .ph-col-6 {
            flex: 0 0 50%
        }

        .ph-col-8 {
            flex: 0 0 66.6666666667%
        }

        .ph-col-10 {
            flex: 0 0 83.3333333333%
        }

        .ph-col-12 {
            flex: 0 0 100%
        }

        [class*=ph-col] {
            direction: ltr
        }

            [class*=ph-col] > * + .ph-row {
                margin-top: 0
            }

            [class*=ph-col] > * + * {
                margin-top: 7.5px
            }

        .ph-avatar {
            background-color: #ced4da;
            border-radius: 50%;
            min-width: 60px;
            overflow: hidden;
            position: relative;
            width: 100%
        }

            .ph-avatar:before {
                content: " ";
                display: block;
                padding-top: 100%
            }

        .ph-picture {
            background-color: #ced4da;
            height: 120px;
            width: 100%
        }

        @@-webkit-keyframes ph-animation {
            0% {
                transform: translate3d(-30%,0,0)
            }

            to {
                transform: translate3d(30%,0,0)
            }
        }

        @@keyframes ph-animation {
            0% {
                transform: translate3d(-30%,0,0)
            }

            to {
                transform: translate3d(30%,0,0)
            }
        }
    </style>
    <script>
        $(function () {
            $('table').on('post-body.bs.table', function () {
                $('[data-bs-toggle="tooltip"]').tooltip({
                    container: 'body',
                    trigger: 'hover'
                });
            });
        });
    </script>
</head>
<body>

    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <div id="divPartial">
                @Html.Partial("_Layout_menu")
            </div>
            <div id="divPartial2" style="display:none">
                @Html.Partial("_Layout_menu2")
            </div>

            <div class="layout-page" style="padding-left:0 !important">
                <div id="cikis" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">ÇIKIŞ</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-body">Çıkış yapmak istediğinize emin misiniz?</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("LogOff", "Login")'">EVET</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">HAYIR</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="passwordchange" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Şifre Değişiklik Formu</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>

                @RenderBody()

                @*<div class="foot" style="position:absolute;bottom:0;right:0;left:0;">
                        <div class="text-center">
                            ©
                            <script>document.write(2022);</script>, designed by
                            <a href="#" target="_blank"> <img src="/assets/img/icons/brands/Nova.png" height="auto" width="2%" class="mb-1" /> NOVA</a>
                        </div>
                    </div>*@

            </div>
        </div>
    </div>

    <div class="layout-overlay layout-menu-toggle"></div>
    <script src="~/Scripts/tableExport.min.js"></script>
    <script src="~/Scripts/bootstrap-table.min.js"></script>
    <script src="~/Scripts/tableLocale.js"></script>
    <script src="~/Scripts/table-filter.min.js"></script>
    <script src="~/Scripts/bootstrap-table-mobile.min.js"></script>
    <script src="~/Scripts/table-fixed.js"></script>
    <script src="~/Scripts/tablednd.min.js"></script>
    <script src="~/Scripts/table-reorder-rows.min.js"></script>
    <script src="~/Scripts/table-groupby.min.js"></script>
    <script src="~/jsPDF/jspdf.umd.min.js"></script>
    <script src="~/jsPDF/polyfills.umd.min.js"></script>
    <script src="~/Scripts/xlsx.core.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    @*<script src="https://unpkg.com/html5-qrcode"></script>*@

    <script type="text/javascript" src="/assets/vendor/js/menu.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/dashboards-analytics.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
