@{
    string ProfilePhotoPath = Request.Cookies["Id"].Value + ".png";
}

<link href="~/assets/boxicons/css/boxicons.css" rel="stylesheet" />

<style>

    :root {
        --hover-color: #4249800c;
    }

    #nova-sidebar {
        width: 50px;
        height: 100svh;
        background-color: white;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0 0 10px #00000028;
        transition: all 0.3s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 0.25rem 0 0.5rem 0;
        z-index: 6000 !important;
        border-right: 1px solid #d7d7d7;
    }

        #nova-sidebar a {
            text-decoration: none !important;
        }

    .fadable {
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    #nova-sidebar .logo {
        width: 250px;
        height: 80px;
        padding-left: 0.6rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        transition: all 0.3s ease-in-out;
    }

        #nova-sidebar .logo .square {
            height: 30px;
            transition: all 0.23s ease-in-out;
            cursor: pointer;
        }

        #nova-sidebar .logo .text {
            height: 0;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

    .brand {
        width: 250px;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        padding-left: 0.55rem;
        transition: all 0.3s ease-in-out;
    }

        .brand .brand-logo {
            height: 30px;
            width: auto;
            padding: 0;
            transition: all 0.3s ease-in-out;
        }

    #nova-sidebar .user {
        width: 250px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        #nova-sidebar .user .profile {
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: smaller;
            font-weight: 500;
            flex-direction: row;
            padding: 0 0.45rem;
            gap: 0.35rem;
            transition: all 0.3s ease-in-out;
        }

        #nova-sidebar .user .logout {
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

            #nova-sidebar .user .logout .text {
                font-size: small;
            }

        #nova-sidebar .user .profile .photo {
            object-fit: cover;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;
        }

        #nova-sidebar .user .profile:hover {
            background-color: var(--hover-color);
        }

        #nova-sidebar .user .logout:hover {
            background-color: var(--hover-color);
        }

    #nova-sidebar .menu {
        width: 250px;
        height: calc(100svh - 180px);
        max-height: calc(100svh - 180px);
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

        #nova-sidebar .menu::-webkit-scrollbar {
            display: none;
        }

    #nova-sidebar .menu-item {
        width: 250px;
        cursor: pointer;
        color: inherit;
    }

        #nova-sidebar .menu-item i {
            font-size: 16pt;
        }

        #nova-sidebar .menu-item .module {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 0 0.9rem;
            transition: all 0.3s ease-in-out;
        }

            #nova-sidebar .menu-item .module:hover {
                background-color: var(--hover-color);
            }

    .bxs-chevron-left {
        transition: all 0.3s ease-in-out;
    }

    .chevron-down {
        transform: rotate(-90deg);
    }

    .active-item {
        background-color: #f7f6fd !important;
        color: #5961a3 !important;
    }

    #nova-sidebar .menu-item .module .information {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        gap: 0.35rem;
    }

    #nova-sidebar .inner-menu {
        display: none;
    }

        #nova-sidebar .inner-menu .module {
            width: 100%;
            height: auto;
            min-height: 40px;
            display: flex;
            align-items: center;
            padding: 0 0 0 2.5rem;
            transition: all 0.3s ease-in-out;
        }

        #nova-sidebar .inner-menu i {
            font-size: 5pt;
        }

        #nova-sidebar .inner-menu .module .information span:before {
            content: "• ";
        }

    .overlay {
        z-index: 5000 !important;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 40;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        background: #0000004d;
    }

    #exit {
        display: none;
        z-index: 6500 !important;
    }

    #nova-overlay {
        z-index: 5000 !important;
    }
</style>

<aside id="nova-sidebar">
    <div class="logo">
        <img class="square" src="~/Content/Images/logoefece.png" onclick="ToggleSidebar()">
        <img class="text" src="~/Content/Images/efeceyazi.png">
    </div>

    <a class="menu-item" href="/Home/Index">
        <div class="module">
            <div class="information">
                <i class='bx bxs-home-circle'></i>
                <span class="fadable">Ana Sayfa</span>
            </div>
        </div>
    </a>

    <div class="menu">
        @*Satış*@
        <div class="menu-item expandable" style="display: @ViewBag.DisplaySatis;">
            <div class="module">
                <div class="information">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="fadable">Satış</span>
                </div>

                <i class='bx bxs-chevron-left'></i>
            </div>
            <div class="inner-menu">
                <a class="menu-item" href="/Satis/Index" style="display: @ViewBag.DisplayStok;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Stok</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Satis/FiyatListesi" style="display: @ViewBag.DisplayFiyatListesi;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Fiyat Listesi</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Satis/FiyatYonetimi" style="display: @ViewBag.FiyatYonetim;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Fiyat Yönetimi</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Satis/DetayliSiparis" style="display: @ViewBag.DisplaySiparis;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Detaylı Sipariş Raporu</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Satis/FabrikaStok" style="display: @ViewBag.DisplayFiyatsizStok;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Fabrika Stok</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Satis/ZiyaretPlanlari" style="display: @ViewBag.DisplayZiyaretPlani;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Müşteri İlişkileri Yönetimi</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Satis/Teklif" style="display: @ViewBag.DisplayTeklif;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Teklif Oluştur</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Satis/Tekliflerim" style="display: @ViewBag.DisplayTekliflerim;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Tekliflerim</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        @*Sevkiyat*@
        <div class="menu-item expandable" style="display: @ViewBag.DisplaySevkiyat;">
            <div class="module">
                <div class="information">
                    <i class='bx bxs-truck'></i>
                    <span class="fadable">Sevkiyat</span>
                </div>

                <i class='bx bxs-chevron-left'></i>
            </div>
            <div class="inner-menu">
                <a class="menu-item" href="/Sevkiyat/SiparisRaporu" style="display: @ViewBag.DisplaySiparisRaporu;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Müşteri Siparişi Raporu</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Sevkiyat/SaticiSiparisRaporu" style="display: @ViewBag.DisplaySaticiSiparisRaporu;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Satıcı Siparişi Raporu</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Sevkiyat/SevkMalKabul" style="display: @ViewBag.DisplaySevkMalKabul;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Sevk & Kabul İşlemleri</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Sevkiyat/DepoTransfer" style="display: @ViewBag.DisplayDepoTransfer;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Depolar Arası Transfer</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        @*Üretim*@
        <div class="menu-item expandable" style="display: @ViewBag.DisplayUretim;">
            <div class="module">
                <div class="information">
                    <i class='bx bxs-hard-hat'></i>
                    <span class="fadable">Üretim</span>
                </div>

                <i class='bx bxs-chevron-left'></i>
            </div>
            <div class="inner-menu">
                <a class="menu-item" href="/IsEmri/IsEmri" style="display: @ViewBag.DisplayIsEmriKayit;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">İş Emri</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Uretim/Index" style="display: @ViewBag.DisplayAnlikUretim;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Üretim Kayıtları</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Uretim/MES" style="display: @ViewBag.DisplayMES;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">MES</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Uretim/HurdaVeIkinciKaliteTransfer" style="display: @ViewBag.DisplayHurdaVeIkinciKalite;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Hurda & 2. Kalite Transfer</span>
                        </div>
                    </div>
                </a>
                <a class="menu-item" href="/Uretim/UretimPlanlama" style="display: @ViewBag.DisplayUretimPlanlama;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Üretim Planlama</span>
                        </div>
                    </div>
                </a>
                <a class="menu-item" href="/Uretim/UretimKaynakPlanlama" style="display: @ViewBag.DisplayUretimKaynakPlanlama;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Üretim Kaynak Planlama</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        @*Satın Alma*@
        <div class="menu-item expandable" style="display: @ViewBag.DisplaySatinAlma;">
            <div class="module">
                <div class="information">
                    <i class='bx bxs-credit-card'></i>
                    <span class="fadable">Satın Alma</span>
                </div>

                <i class='bx bxs-chevron-left'></i>
            </div>
            <div class="inner-menu">
                <a class="menu-item" href="/SatinAlma/SatinAlmaRaporu" style="display: @ViewBag.DisplaySiparisRaporu;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Detaylı Sipariş Raporu</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        @*Finans*@
        <div class="menu-item expandable" style="display: @ViewBag.DisplayFinans;">
            <div class="module">
                <div class="information">
                    <i class='bx bx-trending-up'></i>
                    <span class="fadable">Finans</span>
                </div>

                <i class='bx bxs-chevron-left'></i>
            </div>
            <div class="inner-menu">
                <a class="menu-item" href="/Finans/Index" style="display: @ViewBag.DisplayKur;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Kur Yönetimi</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/Finans/DetayliRiskLimiti" style="display: @ViewBag.DisplayKur;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Detaylı Risk Limiti</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        @*Muhasebe*@
        <a class="menu-item" style="display: @ViewBag.DisplayMuhasebe;">
            <div class="module">
                <div class="information">
                    <i class='bx bxs-calculator'></i>
                    <span class="fadable">Muhasebe</span>
                </div>
            </div>
        </a>

        @*İnsan Kaynakları*@
        <div class="menu-item expandable" style="display: @ViewBag.Display4;">
            <div class="module">
                <div class="information">
                    <i class='bx bx-male-female'></i>
                    <span class="fadable">İnsan Kaynakları</span>
                </div>

                <i class='bx bxs-chevron-left'></i>
            </div>
            <div class="inner-menu">
                <a class="menu-item" href="/IK/PersonelBilgi" style="display: @ViewBag.Display5;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Personel Bilgi Girişi</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/IK/PersonelBilgiYonetim" style="display: @ViewBag.Display6;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Personel Bilgi Yönetimi</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/IK/PersonelSubeYonetim" style="display: @ViewBag.Sube;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Şube Bazında Personel Bilgi Yönetimi</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/IK/PersonelPuantaj" style="display: @ViewBag.Puantaj;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Puantaj</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        @*Dış Ticaret*@
    <div class="menu-item expandable" style="display: @ViewBag.DisplayDisTicaret;">
        <div class="module">
            <div class="information">
                <i class='bx bxs-ship'></i>
                <span class="fadable">Dış Ticaret</span>
            </div>

            <i class='bx bxs-chevron-left'></i>
        </div>
        <div class="inner-menu">
            <a class="menu-item" href="/DisTicaret/IthalatSiparisleri" style="display: @ViewBag.DisplayDisSatinAlma;">
                <div class="module">
                    <div class="information">
                        <span class="fadable">Ithalat Siparişleri</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="inner-menu">
            <a class="menu-item" href="/DisTicaret/IhracatSiparisleri" style="display: @ViewBag.DisplayIhracat;">
                <div class="module">
                    <div class="information">
                        <span class="fadable">Ihracat Siparişleri</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
        @*Yönetim*@
        <div class="menu-item expandable" style="display: @ViewBag.DisplayYonetim;">
            <div class="module">
                <div class="information">
                    <i class='bx bx-sitemap'></i>
                    <span class="fadable">Yönetim</span>
                </div>

                <i class='bx bxs-chevron-left'></i>
            </div>
            <div class="inner-menu">
                <a class="menu-item" href="/Yonetim/Stok" style="display: @ViewBag.Stok;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Stok Değeri</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        @*Yönetim Paneli*@
        <div class="menu-item expandable" style="display: @ViewBag.Display;">
            <div class="module">
                <div class="information">
                    <i class='bx bxs-report'></i>
                    <span class="fadable">Yönetim Paneli</span>
                </div>

                <i class='bx bxs-chevron-left'></i>
            </div>
            <div class="inner-menu">
                <a class="menu-item" href="/YonetimPaneli/KullaniciAyar" style="display: @ViewBag.Display1;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Uygulama Ayarları</span>
                        </div>
                    </div>
                </a>

                <a class="menu-item" href="/YonetimPaneli/UygulamaIstatistik" style="display: @ViewBag.Istatistik;">
                    <div class="module">
                        <div class="information">
                            <span class="fadable">Uygulama İstatistikleri</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="user">
        <a class="menu-item profile" href="/Profil/Index">
            <img class="photo" src="/assets/img/avatars/@ProfilePhotoPath" onerror="this.onerror=null;this.src='/assets/img/avatars/10000.png';">
            <span class="fadable">@Request.Cookies["Name"].Value</span>
        </a>
        <div class="logout" onclick="ShowExit()" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="right" data-bs-html="true" data-bs-original-title="<span>Çıkış Yap</span>">
            <i class='bx bx-power-off'></i>
        </div>
    </div>

    <div class="brand">
        <img class="brand-logo" src="~/assets/img/icons/brands/Nova_White.png">
        <span class="fadable">&copy; NOVA</span>
    </div>
</aside>

<div id="exit" class="overlay">
    <div class="bg-white rounded-2 shadow-lg d-flex flex-column justify-content-between align-items-center py-4" style="height:200px;width:375px;">

        <div class="d-flex flex-column justify-content-center align-items-center gap-2">
            <div class="d-flex justify-content-center align-items-center gap-1">
                <img src="/assets/img/icons/brands/Nova.png" style="height:40px;" />
                <span style="font-size: xx-large;font-weight: 700;color: #434a7f;">NOVA</span>
            </div>

            <span style="font-weight:500;">Çıkış yapmak istediğinize emin misiniz?</span>
        </div>

        <div class="w-75 d-flex justify-content-center align-items-center gap-4">
            <button class="btn btn-danger w-75" onclick="location.href='@Url.Action("LogOff", "Login")'">EVET</button>
            <button class="btn btn-gray w-75" onclick="HideExit()">HAYIR</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    var IsTogglable = true;

    Toggle(localStorage.getItem("sidebar") === "true");

    $(document).ready(() => {
        SetActiveMenuItem();
    });

    function ExpandSidebar() {
        $('#nova-sidebar').css('width', '250px');

        $('.fadable').css('opacity', '1');

        $('.logo .square').css('padding-left', '1.15rem');
        $('.logo .square').css('height', '45px');

        $('.logo .text').css('height', '45px');
        $('.logo .text').css('opacity', '1');

        $('.brand').css('padding-left', '4.5rem');

        $('.user .profile .photo').css('height', '45px');
        $('.user .profile .photo').css('width', '45px');

        if ($('.active-item').first().parent().hasClass("expandable")) {
            ToggleInnerMenu($('.active-item').first().parent());
        }
    }

    function CollapseSidebar() {
        $('.expandable').find('.inner-menu').stop();

        $('#nova-sidebar').css('width', '50px');

        $('.fadable').css('opacity', '0');

        $('.logo .square').css('padding-left', '0');
        $('.logo .square').css('height', '30px');

        $('.logo .text').css('height', '0');
        $('.logo .text').css('opacity', '0');

        $('.brand').css('padding-left', '0.55rem');

        $('.user .profile .photo').css('height', '35px');
        $('.user .profile .photo').css('width', '35px');

        CloseAllInnerMenu();
    }

    function ToggleSidebar() {
        if (IsTogglable)
        {
            var SidebarIsToggle = localStorage.getItem("sidebar") === "true";

            Toggle(!SidebarIsToggle);

            localStorage.setItem('sidebar', !SidebarIsToggle);
        }
    }
    var calendarInstance1=null;
    function Toggle(SidebarIsToggle) {
        if (IsTogglable) {
            IsTogglable = false;

            if (SidebarIsToggle) {

                var SidebarMiniCSS = {
                    "opacity": '0.5',
                    "height": '30px',
                    "width": '30px',
                    "padding": '0',
                    "border-right": 'none'
                }

                var LogoMiniCSS = {
                    "height": '30px',
                    "padding-left": '0',
                }

                $('#nova-sidebar').unbind('mouseenter mouseleave');

                $('#nova-sidebar').stop().css(SidebarMiniCSS);
                $('.logo').stop().css(LogoMiniCSS);
                $('.logo .square').stop().css(LogoMiniCSS);

                setTimeout(() => {
                    IsTogglable = true;
                }, 250);
                if (calendarInstance1 != null) {
                    calendarInstance1.turnOnFullScreen()
                }
            }
            else {
               
                var SidebarCSS = {
                    "opacity": '1',
                    "height": '100svh',
                    "width": '50px',
                    "padding": '0.25rem 0 0.5rem 0',
                    "border-right": '1px solid #d7d7d7'
                }

                var LogoCSS = {
                    "height": '80px',
                    "padding-left": '0.6rem',
                }

                $('#nova-sidebar').stop().css(SidebarCSS);
                $('.logo').stop().css(LogoCSS);


                if ($('#nova-sidebar:hover').length != 0) {
                    ExpandSidebar();

                    if ($('.active-item').first().parent().hasClass("expandable")) {
                        ToggleInnerMenu($('.active-item').first().parent());
                    }
                }

                setTimeout(() => {
                    $('#nova-sidebar').hover(ExpandSidebar, CollapseSidebar);

                    if ($('#nova-sidebar:hover').length == 0) {
                        CollapseSidebar();
                    }

                    IsTogglable = true;
                }, 250);
                if (calendarInstance1!=null) {
                    calendarInstance1.turnOffFullScreen()
                }
            }
            
        }
    }

    function SetActiveMenuItem() {
        var Path = window.location.pathname;

        if ($(`#nova-sidebar a[href='${Path}']`).parent().parent().hasClass("expandable")) {
            $(`#nova-sidebar a[href='${Path}']`).find('.module').addClass('active-item');
            $(`#nova-sidebar a[href='${Path}']`).parent().parent().find('.module').first().addClass('active-item')
        }
        else {
            $(`#nova-sidebar a[href='${Path}']`).addClass('active-item');
        }
    }


    function ToggleInnerMenu(Item) {
        $('.expandable').not(Item).find('.bxs-chevron-left').removeClass('chevron-down');

        $('.expandable').not(Item).find('.inner-menu').slideUp('fast');

        Item.find('.bxs-chevron-left').toggleClass('chevron-down');

        Item.find('.inner-menu').slideToggle('fast');
    }

    function CloseAllInnerMenu() {
        $('.expandable').find('.bxs-chevron-left').removeClass('chevron-down');

        $('.expandable').find('.inner-menu').slideUp('fast');
    }

    $('.expandable').on('click', function () {
        ToggleInnerMenu($(this));
    });

    function ShowExit() {
        document.body.style.overflow = 'hidden';
        document.activeElement.blur();
        $('#exit').fadeIn('fast').css('display', 'flex');
    }
    function HideExit() {
        document.body.style.overflow = 'auto';
        $('#exit').fadeOut('slow');
    }
</script>