@model NOVA.Models.Login

<!DOCTYPE html>
<html lang="tr"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="\assets\"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <meta name="viewport" content="user-scalable=no, width=device-width" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/icons/brands/Nova_White.png" />
    <link rel="stylesheet" type="text/css" href="\assets\vendor\css\core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" type="text/css" href="\assets\vendor\css\theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" type="text/css" href="\assets\css\demo.css" />

    <link href="~/assets/css/printjs.min.css" rel="stylesheet" />
    <script src="~/assets/js/printjs.min.js"></script>

    <link rel="stylesheet" type="text/css" href="\assets\vendor\libs\perfect-scrollbar\perfect-scrollbar.css" />

    <link rel="stylesheet" type="text/css" href="\assets\vendor\libs/apex-charts/apex-charts.css" />

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script type="text/javascript" src="\assets\js\config.js"></script>

    <!-- Fonts -->
    <!-- Icons. Uncomment required icon fonts -->
    <link href="~/bootstrap-icons-1.11.2/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table-master/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table-master/dist/extensions/sticky-header/bootstrap-table-sticky-header.css" rel="stylesheet" />
    <script src="~/Scripts/sweetAlert.js"></script>
    

    <style>
        .bootstrap-table .table > tbody > tr.group-by.expanded,
        .bootstrap-table .table > tbody > tr.group-by.collapsed {
            cursor: pointer;
        }

        .bootstrap-table .table > tbody > tr.hidden {
            display: none;
        }
    </style>
</head>
<body class="framebody">


    <div class="layout-wrapper layout-content-navbar" style="box-sizing: border-box !important; padding-right: 2rem !important; width:100% !important;">
        <div class="layout-container">
            <!-- Menu -->

            <div id="divPartial" style="display:none">
                @Html.Partial("_Layout_menu")
            </div>
            <div id="divPartial2" style="display:none">
                @Html.Partial("_Layout_menu2")
            </div>

            <div class="layout-page" style="padding-left:0 !important">


                <div id="cikis" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">ÇIKIŞ</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-body">Çıkış yapmak istediğinize emin misiniz?</h5>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("LogOff", "Login")'">EVET</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">HAYIR</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="passwordchange" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Şifre Değişiklik Formu</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            @{

                                using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @id = "myForm" }))
                                {
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Eski Şifre:</label>
                                            @Html.TextBoxFor(m => m.PasswordChange.OLD_PASSWORD, new { @class = "form-control" })
                                        </div>

                                        <div class="form-group">
                                            <label>Yeni Şifre:</label>
                                            @Html.TextBoxFor(m => m.PasswordChange.NEW_PASSWORD, new { @class = "form-control", @minlength = "6" })
                                        </div>
                                        <div class="form-group">
                                            <label>Yeni Şifre Tekrar:</label>
                                            @Html.TextBoxFor(m => m.PasswordChange.NEW_PASSWORD_REPEAT, new { @class = "form-control", @minlength = "6" })
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="ekle btn btn-outline-info">DEĞİŞTİR</button>
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">KAPAT</button>
                                    </div>
                                }
                            }


                        </div>
                    </div>
                </div>
                @RenderBody()
                <!-- / Content -->
                <!-- Footer -->
                @*<div class="foot" style="position:absolute;bottom:0;width:80%">

                        <div class="text-center" style="margin-left:7%">
                            ©
                            <script>document.write(2022);</script>, designed by
                            <a href="#" target="_blank"> <img src="/assets/img/icons/brands/Nova.png" height="auto" width="2%" class="mb-1" /> NOVA</a>
                        </div>
                    </div>*@
                <!-- / Footer -->


            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>




    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <!-- Place this tag in your head or just before your close body tag. -->






    <script type="text/javascript">
        getPagination('.sorttable');
        //getPagination('.table-class');
        //getPagination('table');

        /*					PAGINATION
        - on change max rows select options fade out all rows gt option value mx = 5
        - append pagination list as per numbers of rows / max rows option (20row/5= 4pages )
        - each pagination li on click -> fade out all tr gt max rows * li num and (5*pagenum 2 = 10 rows)
        - fade out all tr lt max rows * li num - max rows ((5*pagenum 2 = 10) - 5)
        - fade in all tr between (maxRows*PageNum) and (maxRows*pageNum)- MaxRows
        */


        function getPagination(table) {
            var lastPage = 1;

            $('#maxRows')
                .on('change', function (evt) {
                    //$('.paginationprev').html('');						// reset pagination

                    lastPage = 1;
                    $('.pagination')
                        .find('li')
                        .slice(1, -1)
                        .remove();
                    var trnum = 0; // reset tr counter
                    var maxRows = parseInt($(this).val()); // get Max Rows from select option

                    if (maxRows == 5000) {
                        $('.pagination').hide();
                    } else {
                        $('.pagination').show();
                    }

                    var totalRows = $(table + ' tbody tr').length; // numbers of rows
                    $(table + ' tr:gt(0)').each(function () {
                        // each TR in  table and not the header
                        trnum++; // Start Counter
                        if (trnum > maxRows) {
                            // if tr number gt maxRows

                            $(this).hide(); // fade it out
                        }
                        if (trnum <= maxRows) {
                            $(this).show();
                        } // else fade in Important in case if it ..
                    }); //  was fade out to fade it in
                    if (totalRows > maxRows) {
                        // if tr total rows gt max rows option
                        var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
                        //	numbers of pages
                        for (var i = 1; i <= pagenum;) {
                            // for each page append pagination li
                            $('.pagination #prev')
                                .before(
                                    '<li data-page="' +
                                    i +
                                    '">\
                                                                                                                                                                                                                          <span>' +
                                    i++ +
                                    '<span class="sr-only">(current)</span></span>\
                                                                                                                                                                                                                        </li>'
                                )
                                .show();
                        } // end for i
                    } // end if row count > max rows
                    $('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
                    $('.pagination li').on('click', function (evt) {
                        // on click each page
                        evt.stopImmediatePropagation();
                        evt.preventDefault();
                        var pageNum = $(this).attr('data-page'); // get it's number

                        var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option

                        if (pageNum == 'prev') {
                            if (lastPage == 1) {
                                return;
                            }
                            pageNum = --lastPage;
                        }
                        if (pageNum == 'next') {
                            if (lastPage == $('.pagination li').length - 2) {
                                return;
                            }
                            pageNum = ++lastPage;
                        }

                        lastPage = pageNum;
                        var trIndex = 0; // reset tr counter
                        $('.pagination li').removeClass('active'); // remove active class from all li
                        $('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
                        // $(this).addClass('active');					// add active class to the clicked
                        limitPagging();
                        $(table + ' tr:gt(0)').each(function () {
                            // each tr in table not the header
                            trIndex++; // tr index counter
                            // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                            if (
                                trIndex > maxRows * pageNum ||
                                trIndex <= maxRows * pageNum - maxRows
                            ) {
                                $(this).hide();
                            } else {
                                $(this).show();
                            } //else fade in
                        }); // end of for each tr in table
                    }); // end of on click pagination list
                    limitPagging();
                })
                .val(1000)
                .change();

            // end of on select change

            // END OF PAGINATION
        }

        function limitPagging() {
            // alert($('.pagination li').length)

            if ($('.pagination li').length > 7) {
                if ($('.pagination li.active').attr('data-page') <= 3) {
                    $('.pagination li:gt(5)').hide();
                    $('.pagination li:lt(5)').show();
                    $('.pagination [data-page="next"]').show();
                } if ($('.pagination li.active').attr('data-page') > 3) {
                    $('.pagination li:gt(0)').hide();
                    $('.pagination [data-page="next"]').show();
                    for (let i = (parseInt($('.pagination li.active').attr('data-page')) - 2); i <= (parseInt($('.pagination li.active').attr('data-page')) + 2); i++) {
                        $('.pagination [data-page="' + i + '"]').show();

                    }

                }
            }
        }

    </script>

    @*<script>
            /*var browserZoomLevel = Math.round(window.devicePixelRatio * 100);
            if (browserZoomLevel == 125 || browserZoomLevel == 150) {
                document.body.style.zoom = "80%";
            }
            if (browserZoomLevel == 100) {
                document.body.style.zoom = "100%";
            }*/
        </script>*@

    @RenderSection("scripts", required: false)
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/Content/bootstrap-table-master/dist/bootstrap-table.min.js"></script>
    <script src="~/Content/bootstrap-table-master/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="~/Content/bootstrap-table-master/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="~/Content/bootstrap-table-master/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
    <script src="~/Content/bootstrap-table-master/dist/extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
    <script src="~/Content/bootstrap-table-master/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.js"></script>
    <script src="~/Content/bootstrap-table-master/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.js"></script>
    <script src="~/Content/bootstrap-table-master/dist/extensions/group-by-v2/bootstrap-table-group-by.min.js"></script>
    <script src="~/Content/bootstrap-table-master/dist/locale/bootstrap-table-tr-TR.min.js"></script>
</body>

</html>
