
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href="~/assets/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <!--========== CSS ==========-->

    <style>
        #navbar{
            z-index:900 !important;
        }
        .dot {
            height: 10px;
            width: 10px;
            background-color: #71dd37;
            border-radius: 50%;
            display: inline-block;
        }
        #navbar ::-webkit-scrollbar {
            width: 2px !important;
        }

        .fixed-table-body ::-webkit-scrollbar {
            width: 20px !important;
        }

        /* Track */
        .fixed-table-body ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey !important;
            border-radius: 10px !important;
        }

        /* Handle */
        .fixed-table-body ::-webkit-scrollbar-thumb {
            background: red !important;
            border-radius: 10px !important;
        }

            /* Handle on hover */
            .fixed-table-body ::-webkit-scrollbar-thumb:hover {
                background: #b30000 !important;
            }
        /*========== VARIABLES CSS ==========*/
        :root {
            --nav-width: 250px;
            /*========== Colors ==========*/
            --first-color: #6923D0;
            --first-color-light: #F4F0FA;
            --title-color: #19181B;
            --text-color: #58555E;
            --text-color-light: #A5A1AA;
            --body-color: #F9F6FD;
            --container-color: #FFFFFF;
            /*========== Font and typography ==========*/
            --body-font: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            --normal-font-size: 1rem;
            --small-font-size: .950rem;
            --smaller-font-size: .875rem;
            /*========== Font weight ==========*/
            --font-medium: 500;
            --font-semi-bold: 600;
            /*========== z index ==========*/
            --z-fixed: 100;
        }

        @@media screen and (min-width: 1024px) {
            :root {
                --normal-font-size: 1rem;
                --small-font-size: .950rem;
                --smaller-font-size: .875rem;
            }
        }

        /*========== BASE ==========*/
        *, ::before, ::after {
            box-sizing: border-box;
        }

        body {
            margin: var(--header-height) 0 0 0;
            padding: 1rem 1rem 0;
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
            background-color: var(--body-color);
            color: var(--text-color);
        }

        h3 {
            margin: 0;
        }

        a {
            text-decoration: none;
            cursor:pointer;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        /*========== HEADER ==========*/
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: var(--container-color);
            box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
            padding: 0 1rem;
            z-index: var(--z-fixed);
        }

        .header__container {
            display: flex;
            align-items: center;
            height: var(--header-height);
            justify-content: space-between;
        }
        .nav__dropdown-content a {
            opacity: 0.9;
           
        }
           
        .header__img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }

        .header__logo {
            color: var(--title-color);
            font-weight: var(--font-medium);
            display: none;
        }

        .header__search {
            display: flex;
            padding: .40rem .75rem;
            background-color: var(--first-color-light);
            border-radius: .25rem;
        }

        .header__input {
            width: 100%;
            border: none;
            outline: none;
            background-color: var(--first-color-light);
        }

            .header__input::placeholder {
                font-family: var(--body-font);
                color: var(--text-color);
            }

        .header__icon,
        .header__toggle {
            font-size: 1.2rem;
        }

        .header__toggle {
            color: var(--title-color);
            cursor: pointer;
        }

        /*========== NAV ==========*/
        .nav {
            position: fixed;
            top: 0;
            left: -100%;
            height: 100vh;
            padding: 1rem 1rem 0;
            background-color: var(--container-color);
            box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
            z-index: 200;
            transition: .4s;
        }

        .nav__container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 3rem;
            overflow: auto;
            scrollbar-width: none; /* For mozilla */
        }

            /* For Google Chrome and others */
            .nav__container::-webkit-scrollbar {
                display: none;
            }

        .nav__logo {
            font-weight: var(--font-semi-bold);
            margin-bottom: 2.5rem;
        }

        .nav__list,
        .nav__items {
            display: grid;
           
        }

        .nav__list {
            row-gap: 2.5rem;
        }

        .nav__items {
            row-gap: 1.5rem;
        }

        .nav__subtitle {
            font-size: var(--normal-font-size);
            text-transform: uppercase;
            letter-spacing: .1rem;
            color: var(--text-color-light);
        }

        .nav__link {
            display: flex;
            align-items: center;
            color: var(--text-color);
        }

            .nav__link:hover {
                color: #203289;
                font-weight:bold;
            }

        .nav__icon {
            font-size: 1.2rem;
            margin-right: .5rem;
        }

        .nav__name {
            font-size: var(--small-font-size);
            font-weight: var(--font-medium);
            white-space: nowrap;
        }

        .nav__logout {
            margin-top: 5rem;
        }

        /* Dropdown */
        /*.nav__dropdown {
            overflow: hidden;
            max-height: 21px;
            transition: .4s ease-in-out;
        }*/

        .nav__dropdown-collapse {
            background-color: transparent;
            display:none;
            border-radius: .25rem;
            margin-top: 1rem;
        }

        .nav__dropdown-content {
            display: grid;
            row-gap: .5rem;
            padding: .75rem .5rem .75rem .4rem;
        }

        .nav__dropdown-item {
            font-size: var(--smaller-font-size);
            font-weight: var(--font-medium);
            color: var(--text-color);
        }

            .nav__dropdown-item:hover {
                color: #203289;
                font-weight: bold;
            }

        .nav__dropdown-icon {
            margin-left: auto;
            transition: .4s;
        }

        /* Show dropdown collapse */
            .nav__dropdown:hover {
            max-height: 100rem;
        }

            /* Rotate icon arrow */
            .nav__dropdown:hover .nav__dropdown-icon {
                /*transform: rotate(180deg);*/
            }

        /*===== Show menu =====*/
        .show-menu {
            left: 0;
        }

        /*===== Active link =====*/
        .active {
            color: #203289;
        }

        /* ========== MEDIA QUERIES ==========*/
        /* For small devices reduce search*/
        @@media screen and (max-width: 320px) {
            .header__search {
                width: 70%;
            }
        }

        @@media screen and (min-width: 50px) {
            

            .header {
                padding: 0 3rem 0 6rem;
            }

            .header__container {
                height: calc(var(--header-height) + .5rem);
            }

            .header__search {
                width: 300px;
                padding: .55rem .75rem;
            }

            .header__toggle {
                display: none;
            }

            .header__logo {
                display: block;
            }

            .header__img {
                width: 40px;
                height: 40px;
                order: 1;
            }

            .nav {
                left: 0;
                padding: 1.2rem 0.7rem;
                width: 43px;
            }

            .nav__items {
                row-gap: 1.7rem;
            }

            .nav__icon {
                font-size: 1.3rem;
            }
            /* Element opacity */
            .nav__logo-name,
            .nav__name,
            .nav__subtitle,
            .nav__dropdown-icon {
                opacity: 0;
                transition: .3s;
            }
            /* Navbar expanded */
            .nav:hover {
                width: var(--nav-width);
            }
                /* Visible elements */
                .nav:hover .nav__logo-name {
                    opacity: 1;
                }

                .nav:hover .nav__subtitle {
                    opacity: 1;
                }

                .nav:hover .nav__name {
                    opacity: 1;
                }

                .nav:hover .nav__dropdown-icon {
                    opacity: 1;
                }
        }
        @@media screen and (max-width: 699px){
            .cikis {
                padding-bottom: 10rem !important;
            }
            .profil {
                margin-top: 0 !important;
            }
        }
        
        @@media screen and (min-width: 700px) {
            

            .header {
                padding: 0 3rem 0 6rem;
            }

            .header__container {
                height: calc(var(--header-height) + .5rem);
            }

            .header__search {
                width: 300px;
                padding: .55rem .75rem;
            }

            .header__toggle {
                display: none;
            }

            .header__logo {
                display: block;
            }

            .header__img {
                width: 40px;
                height: 40px;
                order: 1;
            }

            .nav {
                left: 0;
                padding: 1.2rem 1.5rem 0;
                width: 68px; /* Reduced navbar */
            }

            .nav__items {
                row-gap: 1.7rem;
            }

            .nav__icon {
                font-size: 1.3rem;
            }
            /* Element opacity */
            .nav__logo-name,
            .nav__name,
            .nav__subtitle,
            .nav__dropdown-icon {
                opacity: 0;
                transition: .3s;
            }
            /* Navbar expanded */
            .nav:hover {
                width: var(--nav-width);
            }
                /* Visible elements */
                .nav:hover .nav__logo-name {
                    opacity: 1;
                }

                .nav:hover .nav__subtitle {
                    opacity: 1;
                }

                .nav:hover .nav__name {
                    opacity: 1;
                }

                .nav:hover .nav__dropdown-icon {
                    opacity: 1;
                }
        }
    </style>
   
</head>
<body>


    <!--========== NAV ==========-->
    <div class="nav" id="navbar" onmouseleave="leave()">
        <nav class="nav__container" style="overflow:hidden;">
            <div>
                <a href="#" class="nav__link nav__logo">

                    <img src="/Content/Images/logoefece.png" alt class="h-auto" style="width:48px" />
                    <span class="nav__logo-name ms-1"><img src="/Content/Images/efeceyazi.png" alt class="w-px-150 h-auto" /></span>
                </a>

                <div class="nav__list">
                    <div class="nav__items">
                        <style>
                            
                        </style>

                        <a href="@Url.Action("Index", "Home")" id="anasayfa1" class="nav__link">
                            <i class='bx bx-home-circle nav__icon'></i>
                            <span class="nav__name">Anasayfa</span>
                        </a>
                        <div style="max-height: 50vh !important; min-height: 50vh !important; overflow-y: auto !important; overflow-x: hidden !important; box-shadow: 0 0 8px #98989854; ">
                            <div class="nav__dropdown" style="display: @ViewBag.DisplaySatis">
                                <a onclick="openalt('satisopen')" id="satis1" class="nav__link "  style="margin-top: 1rem !important;">
                                    <i class='bx bx-dollar nav__icon'></i>
                                    <span class="nav__name">Satış</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div id="satisopen" class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="@Url.Action("Index", "Satis")" id="stok1" style="cursor:pointer;display: @ViewBag.DisplayStok;" class="nav__dropdown-item">• Stok</a>
                                        <a href="@Url.Action("FiyatListesi", "Satis")" id="fiyatlistesi1" style="cursor: pointer; display: @ViewBag.DisplayFiyatListesi" class="nav__dropdown-item">• Fiyat Listesi</a>
                                        <a href="@Url.Action("FiyatYonetimi", "Satis")" id="fiyatyonetimi1" style="cursor: pointer; display: @ViewBag.FiyatYonetim" class="nav__dropdown-item">• Fiyat Yönetimi</a>
                                        <a href="@Url.Action("DetayliSiparis", "Satis")" id="detaylisip1" style="cursor: pointer; display: @ViewBag.DisplaySiparis" class="nav__dropdown-item">• Detaylı Sipariş Raporu</a>
                                        <a href="@Url.Action("FabrikaStok", "Satis")" id="fabstokfiyatli1" style="cursor: pointer; display: @ViewBag.DisplayFiyatsizStok" class="nav__dropdown-item">• Fabrika Stok</a>
                                        <a href="@Url.Action("ZiyaretPlanlari", "Satis")" id="ziyaretplanlari1" style="cursor: pointer; display: @ViewBag.DisplayZiyaretPlani" class="nav__dropdown-item">• Müşteri İlişkileri Yönetimi</a>
                                        <a href="@Url.Action("Teklif", "Satis")" id="teklif1" style="cursor: pointer; display: @ViewBag.DisplayTeklif" class="nav__dropdown-item">• Teklif Oluştur</a>
                                        <a href="@Url.Action("Tekliflerim", "Satis")" id="tekliflerim1" style="cursor: pointer; display: @ViewBag.DisplayTekliflerim" class="nav__dropdown-item">• Tekliflerim</a>
                                    </div>
                                </div>
                            </div>

                            <div class="nav__dropdown" style="display: @ViewBag.DisplaySevkiyat">
                                <a onclick="openalt('sevkiyatopen')" id="sevkiyat1" class="nav__link "  style="margin-top: 1rem !important;">
                                    <i class='bx bxs-truck nav__icon'></i>
                                    <span class="nav__name">Sevkiyat</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div id="sevkiyatopen" class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="@Url.Action("SiparisRaporu", "Sevkiyat")" id="mussiparisrap1" style="cursor:pointer;display: @ViewBag.DisplaySiparisRaporu" class="nav__dropdown-item">• Müşteri Siparişi Raporu</a>
                                        <a href="@Url.Action("SaticiSiparisRaporu", "Sevkiyat")" id="saticisiprap1" style="cursor: pointer; display: @ViewBag.DisplaySaticiSiparisRaporu" class="nav__dropdown-item">• Satıcı Siparişi Raporu</a>
                                        <a href="@Url.Action("SevkMalKabul", "Sevkiyat")" id="sevkmalkabul1" style="cursor: pointer; display: @ViewBag.DisplaySevkMalKabul" class="nav__dropdown-item">• Sevk & Kabul İşlemleri</a>
                                        <a href="@Url.Action("DepoTransfer", "Sevkiyat")" id="depotransfer1" style="cursor: pointer; display: @ViewBag.DisplayDepoTransfer" class="nav__dropdown-item">• Depo Transfer</a>
                                    </div>
                                </div>
                            </div>
                            <div class="nav__dropdown" style="display:@ViewBag.DisplayUretim">
                                <a onclick="openalt('uretimopen')" id="uretim1" class="nav__link "  style="margin-top: 1rem !important;">
                                    <i class='bx bxs-hard-hat nav__icon'></i>
                                    <span class="nav__name">Üretim</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div id="uretimopen" class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">

                                        <a href="@Url.Action("IsEmri", "IsEmri")" id="isemri2" style="cursor: pointer; display: @ViewBag.DisplayIsEmriKayit" class="nav__dropdown-item">• İş Emri</a>
                                        <a href="@Url.Action("Index", "Uretim")" id="anlikuretim1" style="cursor:pointer;display:  @ViewBag.DisplayAnlikUretim" class="nav__dropdown-item">• Üretim Kayıtları</a>
                                        <a href="@Url.Action("MES", "Uretim")" id="mes" style="cursor:pointer;display:  @ViewBag.DisplayMES" class="nav__dropdown-item">• MES</a>
                                        <a href="@Url.Action("HurdaVeIkinciKaliteTransfer", "Uretim")" id="mes" style="cursor:pointer;display:  @ViewBag.DisplayMES" class="nav__dropdown-item">• Hurda & 2. Kalite Transfer</a>
                                    </div>
                                </div>
                            </div>
                            <div class="nav__dropdown" style="display:@ViewBag.DisplaySatinAlma">
                                <a onclick="openalt('satinalmaopen')" id="satinalma1" class="nav__link "  style="margin-top: 1rem !important;">
                                    <i class='bx bx-credit-card nav__icon'></i>
                                    <span class="nav__name">Satın Alma</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div id="satinalmaopen" class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="@Url.Action("SatinAlmaRaporu", "SatinAlma")" id="satinalmadetsip1" style="cursor:pointer;display:  @ViewBag.DisplaySiparisRaporu" class="nav__dropdown-item">• Detaylı Sipariş Raporu</a>

                                    </div>
                                </div>
                            </div>
                            <div class="nav__dropdown" style="display:@ViewBag.DisplayFinans">
                                <a onclick="openalt('finansopen')" id="finans1" class="nav__link "  style="margin-top: 1rem !important;">
                                    <i class='bx bx-trending-up nav__icon'></i>
                                    <span class="nav__name">Finans</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div id="finansopen" class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="@Url.Action("Index", "Finans")" id="kur1" style="cursor:pointer;display:  @ViewBag.DisplayKur" class="nav__dropdown-item">• Kur Yönetimi</a>

                                    </div>
                                </div>
                            </div>
                            <div class="nav__dropdown" style="display: @ViewBag.DisplayMuhasebe">
                                <a onclick="openalt('muhasebetopen')" id="muhasebe1" class="nav__link"  style="margin-top: 1rem !important;">
                                    <i class='bx bx-calculator nav__icon'></i>
                                    <span class="nav__name">Muhasebe</span>
                                </a>


                            </div>
                            <div class="nav__dropdown" style="display: @ViewBag.Display4">
                                <a onclick="openalt('ikopen')" id="ik1" class="nav__link"  style="margin-top: 1rem !important;">
                                    <i class='bx bx-male-female nav__icon'></i>
                                    <span class="nav__name">İnsan Kaynakları</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div id="ikopen" class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="@Url.Action("PersonelBilgi", "IK")" id="personelbilgi1" style="cursor:pointer;display:  @ViewBag.Display5" class="nav__dropdown-item">• Personel Bilgi Girişi</a>
                                        <a href="@Url.Action("PersonelBilgiYonetim", "IK")" id="personelbilgiyon1" style="cursor:pointer;display:  @ViewBag.Display6" class="nav__dropdown-item">• Personel Bilgi Yönetimi</a>
                                        <a href="@Url.Action("PersonelSubeYonetim", "IK")" id="subebazi1" style="cursor:pointer;display:  @ViewBag.Sube" class="nav__dropdown-item">• Şube Bazında Personel Bilgi Yönetimi</a>
                                        <a href="@Url.Action("PersonelPuantaj", "IK")" id="puantaj1" style="cursor:pointer;display:  @ViewBag.Puantaj" class="nav__dropdown-item">• Puantaj</a>
                                    </div>
                                </div>
                            </div>
                            <div class="nav__dropdown" style="display: @ViewBag.DisplayYonetim">
                                <a onclick="openalt('stokopen')" id="yonetim1" class="nav__link" style="margin-top: 1rem !important;">
                                    <i class='bx bx-sitemap nav__icon'></i>
                                    <span class="nav__name">Yönetim</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div id="stokopen" class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="@Url.Action("Stok", "Yonetim")" id="stokdeger1" style="cursor:pointer;display:  @ViewBag.Stok" class="nav__dropdown-item">• Stok Değeri</a>

                                    </div>
                                </div>
                            </div>
                            <div class="nav__dropdown" style="display: @ViewBag.Display">
                                <a onclick="openalt('yonetimpaneliopen')" id="yonetimpaneli1" class="nav__link"  style="margin-top: 1rem !important;">
                                    <i class='bx bxs-report nav__icon'></i>
                                    <span class="nav__name">Yönetim Paneli</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div id="yonetimpaneliopen" class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="@Url.Action("KullaniciAyar", "YonetimPaneli")" id="kullanici1" style="cursor:pointer;display:  @ViewBag.Display1" class="nav__dropdown-item">• Uygulama Ayarları</a>
                                        <a href="@Url.Action("UygulamaIstatistik", "YonetimPaneli")" id="istatistik1" style="cursor:pointer;display:  @ViewBag.Istatistik" class="nav__dropdown-item">• Uygulama İstatistikleri</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            
            <div style="height:30vh;">
                @{
                    string s = Request.Cookies["Id"].Value + ".png?" + DateTime.Now.Ticks.ToString();
                }
                <a href="#" class="nav__link nav__logout profil" style="padding-top: 2rem !important; margin-top: 0 !important;">

                    <span class="nav__name ms-1" id="pageName"></span>
                </a>
                <a href="/Profil/Index" class="nav__link nav__logout profil" style="margin-top: 50% !important; padding: 0 !important; ">

                    <img src="/assets/img/avatars/@s" type="image/png" class="rounded-circle profil" style="width: 35px;">

                    <span class="nav__name ms-1"><b>@Request.Cookies["Name"].Value</b></span>
                </a>

                <a href="#" class="nav__link nav__logout cikis" data-bs-toggle="modal"
                   data-bs-target="#cikis" style="margin-top:5% !important;padding: 0 !important;">
                    <i class='bx bx-lock nav__icon'></i>
                    <span class="nav__name">Çıkış</span>
                </a>
                <a href="/Home/Index" class="nav__link" style="margin-top:2rem;padding: 0 !important; ">

                    <img src="/assets/img/icons/brands/Nova.png" height="auto" width="25px" class="mb-1" />

                    <span class="nav__name ms-1">NOVA ©</span>
                </a>
            </div>

        </nav>
    </div>

    <script>

        function openalt(value) {
            if (document.getElementById(value).style.display == "unset") {

                document.getElementById(value).style.display = "none"
                event.currentTarget.getElementsByClassName("nav__dropdown-icon")[0].style = "transform: rotate(0deg)";;
                
            } else {

                $(".nav__dropdown-collapse").hide();
                $(".nav__dropdown-icon").css('transform', 'rotate(0deg)');
                document.getElementById(value).style.display = "unset";
                event.currentTarget.getElementsByClassName("nav__dropdown-icon")[0].style = "transform: rotate(90deg)";
            }
           
        } 
        function leave() {
            $(".nav__dropdown-collapse").hide();
            $(".nav__dropdown-icon").css("transform", "rotate(0deg)")
        }

    </script>

   
</body>
</html>