@model NOVA.Models.Login

<!DOCTYPE html>
<html lang="tr"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="\assets\"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <meta http-equiv="Content-Type" content="application/json; charset=utf-8" />

    <meta name="description" content="" />

    <title>Nova | Efece Galvaniz</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/icons/brands/Nova_White.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" type="text/css" />

 


    @Styles.Render("~/Content/test")
    @Scripts.Render("~/bundles/config")


    <style>
        .btn-grad {
            background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
            margin-top: 10px;
            background-size: 200% auto;
            text-transform: uppercase;
            transition: 0.5s;
            color: white;
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
        }

            .btn-grad:hover {
                background-position: left center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
            }

        
    </style>
</head>
<body>


    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <div id="divPartial" style="display:none">
                @Html.Partial("_Layout_menu")
            </div>
            <div id="divPartial2" style="display:none">
                @Html.Partial("_Layout_menu2")
            </div>
            <div class="layout-page" style="padding-left:0 !important">
                <nav class="layout-navbar layout-navbar-ana container-fluid navbar navbar-expand-xl align-items-center"
                     id="layout-navbar" style="z-index:100">

                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                        <!-- beterbocekler.tr.gg Widget Başlangıcı --> <div class="tradingview-widget-container">


                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EURO/DOLAR"
    },
    {
      "proName": "FX_IDC:USDTRY",
      "title": "DOLAR/TL"
    },
    {
      "proName": "FX_IDC:EURTRY",
      "title": "EURO/TL"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BITCOIN"
    },
    {
      "proName": "NYMEX:BB1!",
      "title": "BRENT PETROL"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "light",
  "isTransparent": true,
  "displayMode": "regular",
  "locale": "tr"
}

                            </script>
                        </div> <!-- beterbocekler.tr.gg Widget sonu -->
                        <ul class="navbar-nav flex-row align-items-center ms-auto">

                            @{
                                string s = ViewBag.Id + ".png?" + DateTime.Now.Ticks.ToString();
                            }
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <object data="/assets/img/avatars/@s" type="image/png" class="w-px-40 h-auto rounded-circle">
                                            <img src="/assets/img/avatars/7.png" class="w-px-40 h-auto ">
                                        </object>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href='@Url.Action("Index","Profil")'>
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <object data="/assets/img/avatars/@s" type="image/png" class="w-px-40 h-auto rounded-circle">
                                                            <img src="/assets/img/avatars/7.png" class="w-px-40 h-auto ">
                                                        </object>
                                                    </div>
                                                </div>
                                                @{var fullname = "";
                                                    if (Session["Name"] == null)
                                                    {
                                                        fullname = Request.Cookies["Name"].Value;
                                                    }
                                                    else
                                                    {
                                                        fullname = Session["Name"].ToString();
                                                    }
                                                }
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">@fullname</span>
                                                    <small class="text-muted">Yetki: @ViewBag.RoleName</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item" data-bs-toggle="modal"
                                           data-bs-target="#cikis">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Oturumu Kapat</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>
                <div id="cikis" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">ÇIKIŞ</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-body">Çıkış yapmak istediğinize emin misiniz?</h5>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("LogOff", "Login")'">EVET</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">HAYIR</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="passwordchange" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Şifre Değişikliği</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            @{

                                using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @id = "myForm" }))
                                {
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Eski Şifre:</label>
                                            @Html.TextBoxFor(m => m.PasswordChange.OLD_PASSWORD, new { @class = "form-control" })
                                        </div>

                                        <div class="form-group">
                                            <label>Yeni Şifre:</label>
                                            @Html.TextBoxFor(m => m.PasswordChange.NEW_PASSWORD, new { @class = "form-control", @minlength = "6" })
                                        </div>
                                        <div class="form-group">
                                            <label>Yeni Şifre Tekrar:</label>
                                            @Html.TextBoxFor(m => m.PasswordChange.NEW_PASSWORD_REPEAT, new { @class = "form-control", @minlength = "6" })
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="ekle btn btn-outline-info">DEĞİŞTİR</button>
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">KAPAT</button>
                                    </div>
                                }
                            }


                        </div>
                    </div>
                </div>
                @RenderBody()
                <!-- / Content -->
                <!-- Footer -->
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->






    @Scripts.Render("~/bundles/bootstrap")

  






    @RenderSection("scripts", required: false)
</body>

</html>
