@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFECE GALVANİZ</title>
    <link rel="icon" href="https://efecegalvaniz.com/wp-content/uploads/2021/03/cropped-efece-fav-01-32x32.jpg" sizes="32x32">

    
    @Styles.Render("~/Content/Menu.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()

    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: true)

</body>
</html>
