@{
    Layout = "/Views/Shared/_Layout_common.cshtml";
}
<script>
    $('#title').html('Nova | Detayli Risk Limiti')
</script>
<div id="nova-overlay" style="position: absolute; background: #00000080; left: 0; right: 0; bottom: 0; top: 0; z-index: 9999999;display:none;justify-content:center;align-items:center;">
    <div class="heart"><img id="progress" src="~/images/novasaydam.png" width="400" /></div>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3 p-1">
        @Html.Partial("Partials/DetayliRiskLimiti/CariBilgileri")
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 p-1">
        @Html.Partial("Partials/DetayliRiskLimiti/DogrudanBorclandirmaSistemi")
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 p-1">
        @Html.Partial("Partials/DetayliRiskLimiti/VadesineGoreBorclar")
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3 p-1">
        @Html.Partial("Partials/DetayliRiskLimiti/BorcAlacak")
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 p-1">
        @Html.Partial("Partials/DetayliRiskLimiti/Riskler")
    </div>
</div>

<style>
    .centercontent {
        position: absolute;
        max-width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    .heart {
        animation: heartbeat 1s infinite alternate;
    }

    @@keyframes heartbeat {
        from {
            opacity: 0.3;
            transform: scale(0.32);
        }

        to {
            opacity: 1;
            transform: scale(0.40);
        }
    }
</style>
<script>
    function ShowProgress() {
        document.body.style.overflow = 'hidden';
        document.activeElement.blur();
        $('#nova-overlay').fadeIn('fast').css('display', 'flex');
    }
    function HideProgress() {
        document.body.style.overflow = 'auto';
        $('#nova-overlay').fadeOut('slow');
    }
</script>

<style>
    .money-unit {
        font-size: x-large;
        width: 40px;
    }

    .left-top-borderless-cell {
        border-left: 1px solid Transparent !important;
        border-top: 1px solid Transparent !important;
    }
</style>

<script>
    $(document).ready(() => {
        $('#cari-isim-select').select2({ language: "tr", minimumInputLength: 3, minimumResultsForSearch: 50 });

        ShowProgress();
        CarileriGetir();
    });

    function ParaBirimiFormat(Value, Locale = 'tr-TR', Currency = 'TRY') {
        return (Value == null || Value == 0) ? "₺0,00" : Value.toLocaleString(Locale, { style: 'currency', currency: Currency, minimumFractionDigits: 2 });
    }

    function NullOrZero(Value) {
        return (Value == null || Value == 0) ? true : false;
    }

    function NotNullOrZero(Value) {
        return (Value != null || Value != 0) ? true : false;
    }

    function ABS(Value) {
        return Value == undefined ? 0 : Math.abs(Value);
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/&#64popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/tr.js"></script>