@{
    Layout = "/Views/Shared/_Layout_Genel.cshtml";
}

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3 p-1">
        @Html.Partial("Partials/DetayliRiskLimiti/CariBilgileri")
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 p-1">
        @Html.Partial("Partials/DetayliRiskLimiti/DogrudanBorclandirmaSistemi")
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 p-1">
        @Html.Partial("Partials/DetayliRiskLimiti/VadesineGoreBorclar")
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3 p-1">
        @Html.Partial("Partials/DetayliRiskLimiti/BorcAlacak")
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 p-1">
        @Html.Partial("Partials/DetayliRiskLimiti/Riskler")
    </div>
</div>

<style>
    .money-unit {
        font-size: x-large;
        width: 40px;
    }

    .left-top-borderless-cell {
        border-left: 1px solid Transparent !important;
        border-top: 1px solid Transparent !important;
    }
</style>

<script>
    $(document).ready(() => {
        $('#cari-isim-select').select2({ language: "tr", minimumInputLength: 3, minimumResultsForSearch: 50 });

        ShowProgress();
        CarileriGetir();
    });

    function ParaBirimiFormat(Value, Locale = 'tr-TR', Currency = 'TRY')
    {
        return (Value == null || Value == 0) ? "₺0,00" : Value.toLocaleString(Locale, { style: 'currency', currency: Currency, minimumFractionDigits: 2 });
    }

    function NullOrZero(Value) {
        return (Value == null || Value == 0) ? true : false;
    }

    function NotNullOrZero(Value) {
        return (Value != null || Value != 0) ? true : false;
    }

    function ABS(Value) {
        return Value == undefined ? 0 : Math.abs(Value);
    }
</script>